header{ background-color: #fff; position: relative; z-index: 100;	}
.header{ display: flex; justify-content: space-between; align-items: center; height: 100px;
  	&__logo{ display: flex; justify-content: flex-start; align-items: center;
	  	@media screen and (max-width: 890px){flex-direction: column; padding-bottom: 29px; }
	}
  	&__lic{color:#000; border-left: 1px solid #e5e5e5; margin-left: 27px; padding-left: 22px;
	  	p{ margin: 0; font-size: 11px; font-weight: 300;}
	  	h6{ margin: 0; text-transform: uppercase; font-weight: 700; font-size: 13px; padding-bottom: 7px; letter-spacing: 0.7px;}
	  	@media screen and (max-width: 890px){ border-left: none; text-align: center; margin-left: 0; padding-left: 0;    padding-top: 30px;}
	}
  	&__soc{ display: flex; justify-content: center; align-content: center;
		&__item{ width: 31px; height: 30px; background-color: rgba(0,0,0,0.1); display: flex; justify-content: center; align-items: center; border-radius:2px; transition:all 200ms; margin: 0 2.5px; cursor: pointer;
			&.ok:hover{ background-color: #f68121;}
			&.vk:hover{ background-color: #507299;}
			&.fb:hover{ background-color: #3b5998;}
			&.tw:hover{ background-color: #0084b4;}
			&.gp:hover{ background-color: #dd4b39;}
			&.yt:hover{ background-color: #b00;}
			&.ig:hover {
				background:radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
								radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
								radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
								radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
								radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
								radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
								radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
								linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
			}
			@media screen and (max-width: 890px){ margin: 0 7px;}
		}
	}
  	&__tel{ margin-right: 49px;
	  	p{ color: #000; margin: 0; font-size:13px; font-weight: 300; letter-spacing: 0.3px;}
	  	a{ color: #000; font-size: 19px; font-weight: 500; text-decoration:none; transition:all 200ms; padding-top: 4px; display: inline-block; letter-spacing: -0.5px;
	  		&:hover{ text-decoration: underline; color: #eee;}
	  	}
	 	@media screen and (max-width: 1100px){ margin-right: 0;  text-align: center;}
	 	@media screen and (max-width: 890px){ margin-bottom: 10px;}
	}
  	&__button{ display: flex; justify-content: flex-end; align-items: center;
	  	@media screen and (max-width: 1100px){ flex-direction: column;}
	  	@media screen and (max-width: 890px){ padding-top: 27px;}
	}
  	@media screen and (max-width: 890px){	height: auto; padding: 25px 0 29px; flex-direction: column;}
}
.button{ display: block; margin: 0 auto; font-size: 13px; font-weight: 300; color: #000; display: flex; justify-content: center; text-decoration: none; align-items: center; width: 220px; height: 50px; background-color: #ffde00; border:3px solid #ffde00; transition: all 200ms; border-radius:2px;
  	&:hover{ background-color: transparent; }
  &--slider{ font-size: 17px; width: 235px; height: 65px;
  	&:hover{color: #ffde00; background-color: #333;}
  }
  &--koleso{ width: 280px; height: 60px; font-size: 15px;}
  &--steps{ width: 150px; height: 40px; margin: 0;
	@media screen and (max-width: 1024px){ margin: 0 auto;}
  }
}
.butter{ width: 51px; height: 51px; display: block; cursor: pointer; background-color:#fc0;  position: absolute; z-index: 101; bottom: 0; left: 0; pointer-events: all;
	span{ width: 30px; height: 2px; background-color: #000; display: block; position: absolute; left: 10px; top: 15px; transition:all 600ms;
		&:nth-child(2){ top: 23px;}
		&:nth-child(3){ top: 31px;}
	}
	&.active{
		span { transform: rotate(405deg); top: 24px;
			&:nth-child(2) { opacity: 0; }
			&:nth-child(3) { transform: rotate(495deg); top: 24px; }
		}
	}

}
.slider{ background-image: url(../images/bgfortz.jpg); background-position: bottom 50%; background-size:cover; width: 100%; height:calc(100vh - 100px); min-height: 670px; display: flex; justify-content: center; align-items: center; transition:all 200ms; position: relative; overflow: hidden; position: relative;
	.video {		position: absolute;		top: 0;		left: 0;		min-width: 100%;		min-height: 100%;		width: auto;		height: auto;		}
	&__menu{ position: absolute; bottom: 0; width: 100%; background-color: rgba(0,0,0,0.2); z-index: 100;
		ul{ display: flex; justify-content: space-around; align-items: center; height: 70px; width: 100%; padding: 0 10px; max-width: 1280px; margin: 0 auto; list-style-type: none;
			li{ text-align: center;
			  	a{ color: #778499; text-decoration:none; border-bottom: 1px solid #778499; position: relative; text-transform: uppercase; transition:all 200ms; padding-bottom: 3px;
					&:hover{ color: #ffde00; border-bottom: 1px solid #ffde00;}
			  	}
			}
		}
	  	@media screen and (max-width: 992px){ display: none;}

		&--mobile{ display: none; position: fixed; bottom: 0; left: 0; width: 100%; background-color: transparent; pointer-events: none;
			ul{position: absolute; bottom: 0;background-color: rgba(0,0,0,0.8); padding:20px 50px; flex-direction: column; height: auto; pointer-events: all; display: none;
				li{ margin-bottom: 15px;}
				@media screen and (max-width: 479px){ padding:20px 15px 50px;}
			}
			@media screen and (max-width: 992px){ display: block;}
		}
	}
	&__content{width: 100%; padding: 0 10px; z-index: 100; position: relative;
		&__title{ color: #fff; font-weight: 100; font-size: 75px; text-align: center;font-family:'PFDinTextPro'; letter-spacing: -1.5px; padding-bottom: 45px;
		  	@media screen and (max-width: 890px){ font-size: 45px; padding-bottom: 28px;}
		}
		&__text{ justify-content: center; align-items: center; display: flex;
			@media screen and (max-width: 890px){ flex-direction: column;}
			&__item{ width: 220px; height: 185px; display: flex; justify-content: center; align-items: center; flex-direction: column; border:1px solid #3c424b; margin: 0 14px;
			  	@media screen and (max-width: 890px){ margin: 0 0 9px;}
				&__top{ display: flex; justify-content: center; align-items: flex-end; height: 86px;}
				&__bot{ color: #fff; display: flex; justify-content: center; align-items: flex-start; height: 99px; padding-top: 17px; text-align: center;}
			}
		}
		&__wrap{ display: block; width: 100%; max-width: 1280px; margin:0 auto 83px; text-align: center;
		  	@media screen and (max-width: 890px){ margin-bottom:31px;}
		  	&__slide{ display: inline-block;}
		}
		&__button{ position: relative;
		  	&__text{color: #fff; font-weight: 300; position: absolute; right: 0; width: 270px; top: 0;
				h6{ font-size: 15px; margin: 0; font-weight: 700;}
				p{ margin: 0;}
				i{ color: #778499; font-size: 13px;}
				@media screen and (max-width: 890px){ display: none;}
		  	}
		}
	}
	@media screen and (max-width: 890px){display: block;padding-top: 46px;padding-bottom: 50px; height:auto;	}
	@media screen and (max-width: 1400px){
		.slick-prev{left: 15px;}
		.slick-next{right: 15px;}
	}
	
  
}
.slick-prev{transform:rotate(-135deg); left: 5px;}
.slick-next{transform:rotate(45deg); right: 5px;}
.slick-arrow{ width: 36px; height: 36px; border-top:1px solid #8d9091; border-right:1px solid #8d9091;font-size: inherit;  cursor: pointer; transition:all 200ms; z-index: 99;
  &:before{ display: none;}
  &:hover{ border-right-color: #fac801;border-top-color: #fac801;}
}
.whatis{ background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; width: 100%; min-height:545px; height:100vh; display:flex; justify-content:center; align-items:center;
	&__content{ display: flex; justify-content: space-between; align-items: flex-start; padding-top: 81px; padding-bottom: 73px;
		&__left{ width: 430px; color:#333; font-size: 15px; font-weight: 300; text-align: center; line-height: 1.7;
			h5{  font-size: 41px; font-weight: 400; color: #000;font-family:'PFDinTextPro'; width: 100%;  max-width: 320px; line-height: 1; margin: 0 auto 27px; padding-top: 4px;
			  	@media screen and (max-width: 1100px){ max-width:none;}
			  	@media screen and (max-width: 890px){ font-size:36px;}
			}
		  	p{ margin-bottom: 26px;
			  @media screen and (max-width: 1100px){ margin-bottom:0;}
			}
		  	@media screen and (max-width: 1100px){ width:100%;}
		}
		&__right{ width: 790px; margin-left:10px;
			&__ttl{ font-size: 41px; color: #000; font-weight: 400; font-family:'PFDinTextPro'; text-align: center; margin-bottom: 25px;
			  @media screen and (max-width: 890px){ font-size:36px;}
			}
			&__table{ width: 100%; background-color: #fff; font-size: 15px; display: flex; justify-content: space-between; align-items:flex-start; flex-wrap: wrap; padding: 21px 22px 0 29px;	 line-height: 1.35;
			  	@media screen and (max-width: 1100px){ justify-content:space-around; padding:21px 15px 0;}
			   &__item{ display: flex; justify-content: space-between; align-items: center; width: 300px; margin-bottom: 35px;
				  p{ margin: 0; width: 235px;
					@media screen and (max-width: 480px){ width:205px;}
				  }
			   }
			}
		  	@media screen and (max-width: 1100px){ width:100%; padding-top:20px; margin-left:0;}
		}
		@media screen and (max-width: 1100px){ flex-direction:column; padding-top:35px;}
	}
}
.descwhy{ display: flex; justify-content: space-between; align-items: flex-start;
	&__col{ font-size: 13px; width: 297px; background-color: #f7f7f7;
		@media screen and (max-width: 1210px){ width: 220px;}
		&--first{ font-size: 15px; background-color: transparent;
			.descwhy__head:before{ position: absolute; left: -27px; top: -42px; content: ''; width: 216px; height: 216px; background-image: url(../images/aplanbox.png); background-repeat: repeat; content: ''; z-index: -1;}
			.descwhy__row{ background-color: #ffd324; border-bottom:1px solid #ffdb3b;}
		}
		&--aplan{ background-color: #fff;box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.05);
			.descwhy__row{  border-bottom:1px solid #fff; padding: 20px 23px;
				img{ margin-right: 18px;}
			}
		}

	}
	&__head{ display: flex; justify-content: center; align-items: center; position: relative; flex-direction: column; height: 191px; padding-bottom: 7px;
		h3{ font-weight: 400; font-size: 41px; font-family:'PFDinTextPro'; text-transform: uppercase;}
		h4{ margin: 32px 0 0; font-weight: 700; font-size: 15px; text-transform: uppercase;}
	}
	&__row{border-bottom: 1px solid #efefef; font-weight: 400; display: flex; justify-content: flex-start; align-items: center; text-align: left; padding: 20px 30px; min-height: 60px; line-height: 1.27;
		&--red{ color: #c60000; font-weight: 300;}
		&:last-child{ border-bottom:none;}
	}

}
.why{ padding: 16px 0 28px;  text-align: center; min-height:908px; height:100vh; display:flex; justify-content:center; align-items: center;
	&>div{ width: 100%;}
	&__columns{ width: 100%;
		&.desctop{ display:block;}
		&.mobile{ display:none; background-color:#fff;}
	  	@media screen and (max-width: 890px){
		  	&.desctop{ display:none;}
		  	&.mobile{ display:block;}
		}
	}
  @media screen and (max-width: 890px){background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; width: 100%;}
  	&__title{ font-family:'PFDinTextPro'; font-weight:400; font-size:25px; padding: 46px 0 53px;}
 
  	&__logo{
		img{ margin:0 auto;}
		h4{ text-transform: uppercase;}
	}
  	&__row{ border-bottom:1px solid #fc0; padding: 17px 0 14px;
		&-wrap{ display: flex; justify-content: flex-start; align-items: center; max-width: 330px; width: 100%; margin: 0 auto; padding:0 15px;}
		&-txt{ text-align: left; margin-left: 10px;}
	  &:last-child{ border-bottom:none;}
	  p{ font-weight:300; margin:0;
		&:first-child{ font-weight:400; font-size:15px; margin-bottom:3px;}
		  img{ display: inline-block;}
	  }
	}
  .slick-prev{left: 28px;}
  .slick-next{right: 28px;}
  .slick-arrow{ top:18px;}
}
.fancybox-enabled .scrollbutton{ display:none;}
.topscrollbutton{ width: 51px; height: 51px; position: fixed;  right: 70px; bottom: 70px; cursor:pointer; z-index:999; opacity:1; transition:all 200ms; background-color: #fc0; background-image: url(../images/up-arrow.png); background-repeat: no-repeat; background-position: 50%;
	&:hover{ }
	&.hide{ opacity:0; pointer-events:none;}
	@media screen and (max-width: 1024px){ right: 0; bottom: 0;}
}
.scrollbutton{ width:40px; height:40px; left:calc(50% - 16px); bottom:70px; position:fixed; cursor:pointer; z-index:999; opacity:1; transition:all 200ms; pointer-events:all;	background-image: url(../images/mouse-clicker.png); background-position: 50%; background-color: rgba(0,0,0,0.3); border-radius: 50%; background-repeat: no-repeat;
	&:hover{background-color: rgba(0,0,0,0.1);}
	&.hide{ opacity:0; pointer-events:none;}
	@media screen and (max-width: 1024px){ display: none;}
}
.radio{background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; width: 100%;     padding: 83px 0 100px; min-height:813px; height:100vh; display:flex; justify-content:center; align-items:center;
  	@media screen and (max-width: 600px){ padding: 83px 0 15px;}
	&__content{}
	&__title{ color: #000; font-family:'PFDinTextPro';  width:100%; max-width: 570px; margin: 0 auto 50PX; text-align: center;
		h3{ margin: 0; font-weight: 400; font-size: 41px; margin-bottom: 15px;
		  @media screen and (max-width: 600px){ font-size:25px;}
		}
		p{ margin: 0; font-weight: 100; font-size: 21px;
		  @media screen and (max-width: 600px){ font-size:15px;}
		}
		
	}
  	&__checkbutton{ text-align: center; font-size: 28px; font-weight: 300;
		&.hide{ display: none;}
		button{ font-size: 16px;}
	}
	&__table{ display: flex; justify-content: center; align-items: center; flex-direction: column; opacity:0; transform-origin:50% 0; transform:scaleY(0); transition: opacity 200ms, transform 200ms; height:0;
	  	&.show{ height:auto; transform:scaleY(1); opacity:1; }
		h5{ font-weight:400; font-size: 24px;font-style: normal; display: inline-block; margin: 0; padding-bottom: 25px;
		   @media screen and (max-width: 600px){ font-size:21px;}
		 }
		&__row{  width: 100%; position: relative; cursor:default;
		 	
			&__radio{ width:190px; margin-left: 23px; background-color: #ffcc00; height: 100%; position: absolute; right: 0; top: 0; display: flex; justify-content: space-between; align-items: center; padding: 0 29px 11px;
				b{ width: 16px; height: 16px; background-color: #fff; border:4px solid #fff; display: inline-block; cursor: pointer; margin-right: 11px;
					&.act{ background-color: transparent;}
				}
				input{ width: 0; opacity: 0;}
				input:checked + b{ background-color: transparent;}
				span{ font-size: 15px;}
				label{ cursor: pointer; width: 55px; display: flex; justify-content: center; align-items: center;
				  @media screen and (max-width: 600px){ width:50%;height:45px; background-color:#000; color:#fff; font-weight:300;}
				  &.active{
					@media screen and (max-width: 600px){ background-color:#fc0;}
				  }
				  
				}
			  	@media screen and (max-width: 600px){ width:100%; position:relative; height:auto; margin-left:0; padding:0;}
			}
			&__text{ width:calc(100% - 213px); min-height: 70px; display: flex; justify-content: flex-start; align-items: center; border:1px solid #e8e8e8; background-color: #f7f7f7; margin-bottom: 10px; padding: 10px 31px; line-height: 1.3;  letter-spacing: 0.45px;
			  	@media screen and (max-width: 600px){ width:100%; margin-bottom:0;}
			}
			&:hover{
				.radio__table__row__text{box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);  background-color: #fff; color: #000;}
				.radio__table__row__radio{ background-color: #ffd800;}
			}
			&.act{
				.radio__table__row__text{ color: #999999;}
			}
		  	&:last-child .radio__table__row__text{ margin-bottom: 0;}
		  	&:last-child .radio__table__row__radio{padding: 0 29px 0;
			  @media screen and (max-width: 600px){ padding:0;}
			}
		  @media screen and (max-width: 600px){ margin-bottom:10px;}
		}
	}

}

.koleso{ overflow: hidden;
  	@media screen and (max-width: 666px){ padding-bottom:64px;
	  
	  .slick-arrow{ display:none;}
	}
	&__wraper{ position: relative; margin-top: -263px; padding-bottom: 144px;
	  @media screen and (max-width: 666px){ margin-top:-370px;}
	}
  	
  	&__logo{border-radius: 50%; width: 507px; height: 506px; display: block; position: absolute; top: 95px; padding-top: 291px; left:calc(50% - 253px); background-color: #f9f9f9; text-align: center;
	  @media screen and (max-width: 666px){ padding-top:323px; position:relative; margin-bottom:118px;}
	}
	&__slider{
	  @media screen and (max-width: 666px){ position:absolute; width:100%; bottom:35px;}
	}
	&__text{ max-width: 690px; width: 100%;bottom: 250px; position: absolute; left: 50%; transform: translateX(-50%);
	  @media screen and (max-width: 666px){  position:relative; transform: none; bottom:auto; left:auto;}
	}
    &__form{
      input{ width: 100%; margin: 0 auto; max-width: 280px; height: 50px; border-radius: 2px; border:1px solid #e8e8e8; text-align: center; display: block; margin-bottom: 6px;
	  &.error{border-color:red;}
	  }
    }
}
.kolo{ position: relative; width:100%; max-width: 1098px; padding: 0; margin: 0 auto;  height: 1098px;
	&:before{ content: ''; width: 1098px; height:1098px; border-radius: 50%; border:1px solid #fc0; display: block; position:absolute; top:0; left:calc(50% - 549px);}
	li{ list-style-type: none; position: absolute;  transform-origin: 50% -506px; transition:transform 300ms; bottom: -40px; left:calc(50% - 47px);
		&:after{ content: ''; background-color: #ffcc00; width: calc(100% + 10px); left: -5px; top:calc(50% - 9px); height: 18px; border-radius: 9px; display: block; transition:opacify 200ms; position: absolute; z-index: 0; opacity: 0;}
      &.active{
        &:after{ opacity: 1;}
        .kolo__wrap{ background-color: #fc0;}
        .kolo__img{transform:rotateY(540deg); opacity: 0;
          &.active{transform:rotateY(360deg); opacity: 1;}
        }
      }
      &.left0{transform:rotate(180deg); opacity: 0;   .kolo__wrap{transform:rotate(-180deg);}}
      &.left1{transform:rotate(150deg); opacity: 0;   .kolo__wrap{transform:rotate(-150deg);}}
      &.left2{transform:rotate(120deg); opacity: 0;   .kolo__wrap{transform:rotate(-120deg);}}
      &.left3{transform:rotate(90deg); opacity: 1;    .kolo__wrap{transform:rotate(-90deg);}}
      &.left4{transform:rotate(60deg); opacity: 1;    .kolo__wrap{transform:rotate(-60deg);}}
      &.left5{transform:rotate(30deg); opacity: 1;    .kolo__wrap{transform:rotate(-30deg);}}
      &.left7{transform:rotate(-30deg); opacity: 1;   .kolo__wrap{transform:rotate(30deg);}}
      &.left8{transform:rotate(-60deg); opacity: 1;   .kolo__wrap{transform:rotate(60deg);}}
      &.left9{transform:rotate(-90deg); opacity: 1;   .kolo__wrap{transform:rotate(90deg);}}
      &.left10{transform:rotate(-120deg); opacity: 0; .kolo__wrap{transform:rotate(120deg);}}
      &.left11{transform:rotate(-150deg); opacity: 0; .kolo__wrap{transform:rotate(150deg);}}
      &.left12{transform:rotate(-180deg); opacity: 0; .kolo__wrap{transform:rotate(180deg);}}
	  @media screen and (max-width: 666px){
		&.left5{transform:rotate(10deg); .kolo__wrap{transform:rotate(-10deg);}}
		&.left7{transform:rotate(-10deg); .kolo__wrap{transform:rotate(10deg);}}
	  }
	}
	&__wrap{  border-radius: 2px; border:1px solid #fc0; background-color: #f9f9f9; width: 85px; height: 85px; z-index: 1; position: relative;transition:all 300ms; cursor: pointer;
		&:hover{ background-color: #fc0;}
	}
	&__img{width: 85px; height: 85px; display: flex; justify-content: center; align-items: center; backface-visibility: hidden; transition:all 900ms ease-out; opacity: 1;
      &.active{transform:rotateY(-180deg);  position: absolute; top: 0; left: 0; opacity: 0;}
    }
    &__txt{ display: none;}
}
.arrowed__text{ position: relative;}
.scripted-text{transform: scale(0); opacity: 0; transition: all 200ms; max-width: 460px; width: 100%; margin: 0 auto; text-align: center; padding-bottom: 28px; line-height: 2; min-height: 300px;
  @media screen and (max-width: 666px){ padding:0 15px	28px;}
  &.show{ opacity: 1; transform: scale(1);}
	h4{ margin: 0; font-size: 31px; font-weight: 100; font-family:'PFDinTextPro'; word-wrap:break-word; line-height: 1.3;}
	p{ margin: 0; font-size: 13px; font-weight: 300;}
}
.steps{background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; width: 100%; min-height:672px; height:100vh; display:flex; justify-content:center; align-items:center;
  &__wrap{ position: relative; overflow: hidden; padding: 92px 0 105px;
	@media screen and (max-width: 600px){  padding: 62px 0 0;}
	&:before{content: ''; background-image: url(../images/stepsbg.png); width: 1472px; height: 226px; background-repeat: no-repeat; background-size: cover; display: block; position: absolute; left: 0; top: 170px;
	  @media screen and (max-width: 1280px){ display:none;}
	}
  }
  &__ttl{ text-align: center;  padding: 0 0 30px; min-height: 138px;
	@media screen and (max-width: 600px){ min-height: 1px;}
	h5{ font-size: 41px; font-weight: 400; color: #000; font-family:'PFDinTextPro'; margin: 0;
	  @media screen and (max-width: 600px){ font-size:25px;}
	}
  }
  &__items{ display: flex; justify-content: flex-start; align-items: flex-start;
	@media screen and (max-width: 1024px){ flex-wrap:wrap; justify-content:space-around;}
  }
  &__item{ width: 248px;
  	&:nth-child(1){ margin-right: 101px;
	  @media screen and (max-width: 1024px){ margin-right:0;}
	}
  	&:nth-child(2){ padding-top: 69px; margin-right: 101px;
	  @media screen and (max-width: 1024px){ margin-right:0; padding-top:0;}
	}
  	&:nth-child(3){ padding-top: 69px; margin-right: 101px;
	  @media screen and (max-width: 1024px){ margin-right:0; padding-top:0;}
	}
  	&:nth-child(4){ width: 200px;
	  @media screen and (max-width: 1024px){ width:50%;}
	  @media screen and (max-width: 1024px){ width:100%;}
	}
	@media screen and (max-width: 1024px){ width:50%; margin-bottom:50px;}
	@media screen and (max-width: 600px){ width:100%; margin-bottom:50px;}
  }
  &__img{ width: 151px; height: 150px; position: relative; display: flex; justify-content:center; align-items: center; margin: 0 0 27px 18px;
	@media screen and (max-width: 1024px){ margin: 0 auto 27px;}
  	&:hover .steps__big-circle,
  	&:hover .steps__small-circle,
  	&:hover .steps__small-circle span{ animation-play-state: running; -webkit-animation-play-state: running;}
  }
  &__big-circle{ background-image: url(../images/circle-big.png); width: 151px; height: 150px; background-repeat: no-repeat; background-size: cover; display: block; position: absolute; transition: all 1300ms; animation-play-state: paused; animation: rotating 3s linear infinite; -webkit-animation-play-state: paused; top: 0; left: 0;
	&:before{content: ''; background-color: #fc0; width: 7px; height: 7px; display: block; border-radius: 50%;position: absolute;	  left: 75px; top: -3px;}
  }
  &__small-circle{ background-repeat: no-repeat; background-size: cover; display: block; background-image: url(../images/circle-small.png); width: 91px; height: 110px; position: absolute; top: 25px; left: 16px; transform-origin: 59.5px 50px;animation-play-state: paused; animation: rotating 4s linear infinite; animation-direction: reverse; -webkit-animation-play-state: paused;
	span{ width: 30px; height: 30px; background-color: #fc0;font-size: 12px; font-weight: 500; color: #000; display: flex; justify-content: center; align-items: center; border-radius: 50%; position: absolute; top: 77px; left: 1px; animation: rotating 4s linear infinite;  animation-play-state: paused; -webkit-animation-play-state: paused;}
  }
  &__text{ font-weight: 300; font-size: 17px;
	@media screen and (max-width: 1024px){ text-align:center;}
  	p{ margin-bottom: 11px;
	  @media screen and (max-width: 600px){ margin-bottom:17px;}
	}
  }
  
}
@keyframes rotating {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}
.credit{background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; min-height:619px; height:100vh; display:flex; justify-content:center; align-items:center;
  &>div{ width:100%;}
  &__yellow{ background-color: #fc0; width: 100%; overflow: hidden; position: relative; min-height: 295px;
  	&:before{content: ''; background-image: url(../images/creditbg.png); width: 291px; height: 358px; background-size: cover; background-repeat: no-repeat; position: absolute; left: 50%; top:-43px; transform:translateX(-50%); }
  }
  &__ttl{ width: 100%; max-width: 530px; margin: 0 auto; text-align: center;
	h4{font-weight: 200; font-family:'PFDinTextPro'; font-size: 35px;    margin: 0;	  padding: 61px 0 0;	  line-height: 1.27;
	  @media screen and (max-width: 530px){ font-size:25px;padding: 70px 0 0;		line-height: 1.4;}
	}
	a{font-style: normal; position: relative; display: inline-block; text-decoration:none; color:#000;
		&:before{ position: absolute; left: 0; bottom: -2px; content: ''; width: 100%; height: 1px; background-color: #000;
		  @media screen and (max-width: 530px){ bottom:2px; }
		}
	}
  }
  &__subtitle{ font-family:"PFDinTextPro"; text-align: center;
	h4{ font-size: 27px; position: relative; font-weight: 300;  margin: 0; padding-bottom: 17px;
	  @media screen and (max-width: 530px){ font-size:25px; line-height:1; padding-bottom:9px;}
		&:before{ content: ''; position: absolute; left: 50%; bottom: 0; width: 34%; height: 1px; background-color: #fc0; display: block; transform: translateX(-50%);
		  @media screen and (max-width: 530px){ width:200px;}
		}
	}
	h6{ font-size: 21px; font-weight: 300; margin: 0; padding: 46px 0 36px;
	  @media screen and (max-width: 530px){ font-size:16px;padding: 18px 0 16px;}
	}
  }
  &__form{ max-width: 1046px; width: calc(100% - 20px); background-color: #fff; margin: -37px auto 0; z-index: 20; position: relative; padding: 38px 66px 59px 81px; box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.05);
	@media screen and (max-width: 1024px){padding: 25px 15px 18px;}
  }
  &__row{ display: flex; justify-content:space-between; align-items: flex-start;
	@media screen and (max-width: 880px){ flex-direction:column; align-items:center;}
  }
  &__item{ width: 280px; position: relative; margin-bottom:10px;
	
	input{ width: 100%; height: 50px; border-radius: 2px; border:1px solid #e8e8e8;  display: block; padding-left: 20px;
		&.error{border-color:red;}
	}
	button{ width: 100%; height: 60px; font-size: 16px; margin-top: -3px;
	  @media screen and (max-width: 530px){ margin-top:9px;}
	}
  }
  &__lock-content{ max-width: 262px; width: 100%; display: flex; justify-content: flex-start; align-items: center; font-weight: 200; color: #999999; font-size: 12px; padding: 13px 3px 0;
	@media screen and (max-width: 530px){padding: 23px 0 0 15px; max-width:280px;}
  	img{ margin-right: 15px;}
  }
}
.about{background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; min-height:928px; height:100vh; display:flex; justify-content:center; align-items:center;
	.desctop{ display: block;
		@media screen and (max-width: 767px){ display: none;}
	}
	.mobile{opasity:0; visibility: hidden; z-index: -1; position: absolute; top: -800px;
		@media screen and (max-width: 767px){opasity:1; visibility: visible; z-index: 1; position: relative; top: auto; width: 100%;}
	}
	&__ttl{ text-align: center;     padding: 85px 0 15px;	min-height: 161px;
	@media screen and (max-width: 480px){ padding: 64px 0 15px;	min-height: 1px;}
	h4{ font-size: 41px; font-weight: 400; font-family:'PFDinTextPro'; margin: 0;
	  @media screen and (max-width: 480px){ font-size:25px;}
	}
	}
	&__content{ display: flex; justify-content: flex-start; align-items: flex-start;
	@media screen and (max-width: 767px){ flex-direction:column; align-items:center;}
	}
	&__left{ width: 215px; padding-top: 10px;
	@media screen and (max-width: 767px){ width:100%; display:flex; justify-content:space-around;}
	}
	&__left-item{ border:1px solid #ebebeb; width: 215px; height: 230px; margin:0 auto 19px;

	span{ text-align: center; width: 100%; display: block; padding: 0 20px 0;
		&:first-child{ height: 137px; padding-bottom: 6px; display: flex; justify-content: center; align-items: center;}
	}
	p{ color: #333; font-size: 13px; font-weight: 300; margin: 0; line-height: 1.6; padding-bottom: 12px;}
	h6{ font-weight: 400; font-size: 17px; margin: 0; padding-bottom: 12px;}
	}
	&__right{ width:calc(100% - 215px); padding-left: 80px;  font-weight: 300; color: #555;line-height: 2.2; letter-spacing: 0.1px;
		@media screen and (max-width: 767px){ width:100%; padding-left:0;line-height:23px;}
	}
	&__slider{ width: 100%; max-width: 858px; margin-left: 50px;
	@media screen and (max-width: 1400px){
	  margin-left: 0;
	}
	}
  &__slide{ display: block; margin: 0 auto; position: relative; width: 200px; height: 284px; cursor: pointer;
	&:before{ content: ''; opacity: 0; border:5px solid #ffd324; background-color: rgba(255, 204, 0, 0.1); position: absolute; width: 100%; height: 100%; left: 0; top: 0; trnsition:opacity 200ms;}
	&:hover:before{ opacity: 1;}
  }
  &__slider-wrap{ width: 100%;}
  .slick-prev, .slick-next{ top: 44%;}
  .slick-prev{ left: -43px;}
  .slick-next{ right: -43px;}
  @media screen and (max-width: 1400px){
	.slick-prev{ left: 5px;}
	.slick-next{ right: 5px;}
  }
}
.partners{background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; min-height:451px; height:100vh; display:flex; justify-content:center; align-items:center;
  h5{ margin: 0; font-family:'PFDinTextPro'; font-weight: 400; font-size: 41px; padding-bottom: 26px;
	@media screen and (max-width: 479px){ font-size:25px; text-align:center;}
  }
  &__content{ display: flex; justify-content: flex-start; align-items: flex-start; padding-top: 63px; padding-bottom: 75px;
	@media screen and (max-width: 1280px){ flex-direction:column;}
  }
  &__left{ width: 535px;
	@media screen and (max-width: 1280px){ width:100%; margin-bottom:25px;}
  }
  &__right{ width:calc(100% - 535px); padding-left: 80px;
	@media screen and (max-width: 1280px){ width:100%; padding-left:0;}
  }
  &__gray{ font-size: 21px; color:#333; font-weight: 300;  background-color: #f4f4f4; position: relative;padding: 19px 0 10px 99px; line-height: 1.4; min-height: 208px;
	p{ max-width: 380px; width: 100%;}
  	&:before{ background-image: url(../images/partners-lock.png); width: 96px; height: 154px; content: ''; position: absolute; background-size: cover; background-repeat: no-repeat; left: 53px; top: 26px;}
	@media screen and (max-width: 479px){ font-size:17px; text-align:center; background-color:transparent; min-height:1px; padding: 0 0 18px; line-height: 25px;
		p{ max-width:none;}
	  	&:before{ left:calc(50% - 48px); top:calc(50% - 77px);}
	}
  }
  &__slider{ width: 100%;}
  &__slide{ width: 208px; height: 208px; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; cursor: pointer; position: relative; margin:0 auto;
	&:before{ content: ''; opacity: 0; border:5px solid #ffd324; background-color: rgba(255, 204, 0, 0.1); position: absolute; width: 100%; height: 100%; left: 0; top: 0; trnsition:opacity 200ms;}
	&:hover:before{ opacity: 1;}
  }
  .slick-prev, .slick-next{ top: -64px;}
  .slick-prev{ left: auto; right: 61px;}
  .slick-next{ right: 10px;}
	@media screen and (max-width: 479px){
		.slick-prev{ left: 10px; right: auto; top: 50%;}
		.slick-next{ right: 10px; top: 50%;}
	}
}
.map{ width: 100%; position: relative;
  #map{ height: 609px; width: 100%;}
  &__form-wrap{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;}
  &__form{ width: 345px; height: 365px; background-color: #fff; padding: 0 32px; position: absolute; right: 94px;	top: 121px; pointer-events: initial;
	@media screen and (max-width: 767px){ top:auto; bottom:0; right:calc(50% - 172px);}
	@media screen and (max-width: 479px){ width:300px;  padding:0 10px; right:calc(50% - 150px);}
  }
  @media screen and (max-width: 767px){
	padding-bottom:168px;
	.mbox{ position:absolute; height:100%; top:0; left:0; bottom:0; right:0; }
  }
}
.form{
  &__title{ font-weight: 300; font-size: 17px;     padding: 28px 0 31px;}
  &__row{ width: 100%;}
  &__item{ width: 100%; margin-bottom: 10px;
	input{ width: 100%; height: 50px; border-radius: 2px; border:1px solid #e8e8e8;  display: block; padding-left: 20px;
	  &.error{border-color:red;}
	}
	button{ width: 100%; font-size: 13px; height: 60px; margin-bottom: 15px;}
  }
}
.footer{ background-color: #272c32;
  &__lic{
	p{ color: #778499;}
	h6{color:#fff;}
  }
  &__logo{@media screen and (max-width: 992px){ display:none;}}
  &__left{ width: 370px;
	@media screen and (max-width: 992px){ width:100%;}
  }
  &__copyright{color: #778499; font-weight: 300; font-size: 11px;    padding: 42px 0 4px;	line-height: 1.6;
	@media screen and (max-width: 992px){ padding:20px 0 0;}
  	p{ margin: 0;}
  }
  &__download{ margin-bottom: 49px;
	@media screen and (max-width: 992px){ margin-bottom:34px;}
	.button{ color: #fff; font-weight: 400; font-family:'Roboto'; font-size: 13px; background-color: #23282d; border-color:  #23282d; width: 192px; height: 50px;
	  	img{ margin-right: 11px;}
	  	span{ letter-spacing: 0.4px;}
		&:hover{border-color: #fff;}
	}
  }
  &__tel{margin-right: 0;	text-align: right;	margin-bottom: 37px;
	@media screen and (max-width: 1100px){ display:block; text-align:center; margin-bottom:22px;}
	p{ color: #778499;}
	a{color:#fff;}
  }
  &__center{padding-bottom: 5px;	padding-right: 157px;
	@media screen and (max-width: 1100px){ padding-right:0;}
  }
  &__right{
	@media screen and (max-width: 992px){ margin-bottom:36px;}
	.button:hover{color:#fff;}
  }
  .header__soc__item{ margin: 0 4px;}
  &__menu{ bottom:auto; top: 0; z-index: 20;
	@media screen and (max-width: 992px){  position:relative;
		ul{flex-wrap:wrap; height:auto; padding: 19px 10px 0;
			li{ width:50%; text-align:center; margin-bottom:28px;}
		}
	}
	@media screen and (max-width: 600px){ ul li{width:100%;}}
  }
  &__content{ display: flex; justify-content: space-between; align-items:flex-end; padding:107px 0 85px;
	@media screen and (max-width: 992px){ flex-direction:column-reverse; align-items:center; padding: 28px 0 15px; text-align:center;}
  }
}

.result-popup{ padding: 45px 10px; text-align: center;  max-width: 429px; width: 100%; overflow: initial;}
.call_success{ width: 100%; max-width: 290px; margin: 0 auto;}
.call-title{ font-size: 25px; font-weight: 200; font-family:'PFDinTextPro'; padding-bottom: 27px;}
.call-subtitle{ font-size: 15px; font-weight: 300; margin-bottom: 20px;}

.call-popup{ max-width: 429px; width: 100%; overflow: initial; padding-bottom: 17px;
  &__title{ font-family:'PFDinTextPro'; font-size: 25px; font-weight: 200; text-align: center; width: 100%;  padding: 20px 0 36px;}
  input{ text-align: center;}
  .form__item{ max-width: 280px; margin: 0 auto 7px;}
  .button{ font-size: 15px;}
}
.fancybox-close-small{ color: transparent; right: -43px; top: -8px; background-color: transparent;
  &:hover{ background-color: transparent;}
  &:before,
  &:after{content:''; position: absolute; width: 20px; height: 2px; background-color: #fff; display: block; top: 50%; left: 5px; transform:rotate(45deg);}
  &:before{transform:rotate(-45deg);}
  @media screen and (max-width: 890px){right: 0px; top: -28px; width:23px;}
}
@media screen and (max-width: 1024px){
	.main section{ height: auto; display: block; min-height: 1px;}
}

.invest{ background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; overflow: hidden; padding-bottom: 90px; min-height: 619px; display: flex; justify-content: center; align-items: center; height: 100vh;
	&__wrap{}
	&__ttl{ font-size: 41px; font-family:'PFDinTextPro'; text-align: center; padding: 92px 0 38px;
		@media screen and (max-width: 900px){ font-size: 26px;}
	}
	&__table{

		ul{ display: flex; justify-content: center; align-items: flex-start;list-style: none; padding: 0; margin: 0;}
		.desctop{ display: flex;
			@media screen and (max-width: 900px){ display:none;}
		}
		.slider-ul{ position: absolute; opacity: 0; z-index: -1; visibility: hidden; top: 0;
			@media screen and (max-width: 900px){ position: relative; opacity: 1; top: auto; visibility: visible; z-index: 90;}
		}
		li{ width: 153px; transform-origin: 50% 0; transform: scale(0.8); opacity: 0; transition: all 200ms;
			&.animated{transform: scale(1); opacity: 1;}
			.red{ color: #e63518;}
			.gray{ color: #666;}
			&.first{ width: 188px;
				@media screen and (max-width: 1250px){ display: none;}
				.invest__row{ background-color: #ffde00;  font-size: 17px; color: #000; font-family:'PFDinTextPro'; justify-content: flex-start;padding-left:24px;
					&--head{ background-color: #212121;}
				}
			}
			&.aplan{
				.invest__row{ background-color: #fff; border-bottom-color: #fff5cc; justify-content: flex-start;
					@media screen and (max-width: 1250px){ flex-direction: row; 
						.mobile{ text-align: left;}
						span{ text-align: left;}
					}
					@media screen and (max-width: 900px){ justify-content: center;
						&>div{width: 200px; display: flex; justify-content: flex-start; align-items: center; }
					}
						img{ margin:0 11px;}
					&--head{ background-color: #212121; border-bottom-color:rgba(255,255,255,0.3);  justify-content: center;}
				}
			}
			&:last-child{ width: 150px;
				.invest__row{ border-right: none;}
			}
		}
	}
	&__row{border-right: 3px solid #fff; border-bottom: 1px solid rgba(255,255,255,0.3); background-color: #eee;display: flex; width: 100%; justify-content: center; align-items: center; font-weight:400; font-family:'Roboto'; font-size: 13px; color: #000; height: 60px;
		@media screen and (max-width: 1250px){ height: auto; padding:22px 0; flex-direction: column;}
		@media screen and (max-width: 900px){  padding:10px;   min-height: 60px;}
		&--head{ background-color: #212121; padding-right: 0; height: 50px; color: #fff;  font-size: 17px; font-family:'PFDinTextPro'; border-right-color: #212121;
			@media screen and (max-width: 900px){  padding:0; }
		}
		.mobile{ display: none; width: 100%; text-align: center; font-weight: 700;
			@media screen and (max-width: 1250px){ display: block;}
		}
	}
	&__txt{ display: flex; justify-content: center; align-items: center; flex-direction: column;
		@media screen and (max-width: 1250px){ text-align: center;}
	}
	.slick-prev{ left: 10px;}
	.slick-next{ right: 10px;}
}
.calc{min-height: 685px; display: flex; justify-content: center; align-items: center; height: 100vh;
	&__ttl{ font-size: 41px; font-family:'PFDinTextPro'; text-align: center; padding: 92px 0 38px;
		@media screen and (max-width: 900px){ font-size: 26px;}
	}
	&__bttns{ display: flex; justify-content: center; align-items: center; padding-bottom: 31px;
		@media screen and (max-width: 1210px){ padding-bottom: 10px;}
		@media screen and (max-width: 480px){ flex-direction: column; padding-bottom: 0;}
	}
	&__button{ display: flex; justify-content: center; align-items: center; flex-direction: column; width: 267px; height: 70px; background-color: #f0f0f0; cursor: pointer; position: relative; margin-bottom: 15px;

		&.active{box-shadow: 5px 0px 3px 0px rgba(1, 0, 0, 0.05); background-color: #fc0;}
		&:hover{ background-color: #000; color: #fff;}
		p{ margin: 0; font-size: 13px;}
		i{font-style: normal; font-weight: 300; font-size: 23px;}
	}
	&__row{ display: flex; justify-content: space-between; align-items: flex-start;
		@media screen and (max-width: 1210px){ align-items: center; flex-direction:column-reverse;}
	}
	&__yellow{margin: 0 0 20px;padding: 45px 40px 0px; list-style-type: none; background-color: #fc0; width: 617px;  display: flex; justify-content:space-between; align-items: flex-start; flex-wrap: wrap; min-height: 290px;
		@media screen and (max-width: 666px){ width: 100%; justify-content: space-around;}
		li{ display: flex; justify-content:space-between; align-items: center; width: 215px; margin-bottom: 24px;
			span{ font-weight: 300; font-size: 15px; width: 149px; line-height: 1.27;}
		}
	}
	&__left{ width: 230px;
		@media screen and (max-width: 666px){ width: 100%;}
	}
	&__right{ width: 303px;
		@media screen and (max-width: 666px){ width: 100%;}
	}
	&__item{ width: 100%; color: #fff; font-size: 17px;font-weight: 300; margin-bottom: 10px;
		h6{ font-weight: 300; margin: 0; font-size: 15px; color: #666; line-height: 1.5; margin-top: 4px;}
		p{ margin: 0;line-height: 1.5; }
		a{ color: #fff;}
		input{ height: 50px; width: 50%; padding-left: 15px; border:none;
			@media screen and (max-width: 480px){ margin-bottom: 10px; width: 100%;}}
		button{ width: 50%;
			&:hover{ color: #fc0;}
			@media screen and (max-width: 480px){ margin-bottom: 10px; }
		}
	}
	&__calc{ width: 619px; background-color: #272c32; min-height:290px;padding: 31px 20px 0 30px; margin-bottom: 20px;
		@media screen and (max-width: 666px){ width: 100%; padding: 31px 10px 0;}
	}
	form{ display: flex; justify-content: space-between; align-items: flex-start;
		@media screen and (max-width: 666px){ align-items: center; flex-direction: column;}
	}
	input[type=range]{ display: none;}
	&__info-total{    padding: 2px 0 7px 15px;-moz-user-select: none;		-khtml-user-select: none;		user-select: none;    }
	&__info-min{ font-size: 13px; padding-top: 8px;-moz-user-select: none;		-khtml-user-select: none;		user-select: none;     }
	&__but-sub{ display: flex; justify-content: flex-start; align-items: center; padding-top: 5px;
		@media screen and (max-width: 480px){ flex-direction: column; padding-bottom: 0;}
	}
	&__wrap{ padding-bottom: 80px;}
}
.jq-selectbox{ width: 100%;}
.jq-selectbox__trigger{border-left:none;}
.jq-selectbox__trigger-arrow{ top: 23px;}
.jq-selectbox__select{ background: #fff; border: none; height: 50px;  border-radius: 3px; width: 100%; line-height: 50px; padding: 0 45px 0 20px;}
.nums{ display: flex; justify-content: flex-start; align-items: flex-start;
	&__month{ width: 50%;}
	&__total{width: 50%;}

}
.range{ height: 1px; background-color: #fff; width: 100%; position: relative;
	&__right,
	&__left{border-radius: 50%; width: 13px; height: 13px; background-color: #fc0; position: absolute; top: -6px; left: -6px;}
	&__right{ right: -15px; cursor: pointer; left: auto; z-index: 10; width: 30px; height: 30px; top: -15px; background-color: transparent;
		&:before{ content: ''; position: absolute; left:50%; transform:translate(-50%, -50%); top:50%; background-color: #fc0; width: 13px; height: 13px; border-radius: 50%; }
	}
	&__active{ position: absolute; height: 1px; width: 16px; background-color: #fc0; left: 0; top: 0;}
}
.simple{background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; overflow: hidden; min-height: 506px; display: flex; justify-content: center; align-items: center; height: 100vh;
	&__ttl{
		h5{font-size: 41px; font-family:'PFDinTextPro'; text-align: center; padding: 92px 0 45px; font-weight: 400; margin: 0;
			@media screen and (max-width: 900px){ font-size: 26px;}
		}
		h6{font-size: 25px; font-family:'PFDinTextPro'; text-align: center;  font-weight: 200; margin: 0; padding-bottom: 43px;
			@media screen and (max-width: 900px){ font-size: 20px;}
		}
	}
	&__wrap{overflow: hidden; padding-bottom: 61px;
		ul{ list-style-type: none; margin: 0; padding: 0; border-bottom: 1px solid transparent; border-right: 1px solid transparent; border-left: 1px solid transparent; display: flex; justify-content: space-between; align-items: flex-start; position: relative; transition:all 400ms;
			@media screen and (max-width: 650px){  border:none; flex-direction: column;}
			&:after{content: ''; width: 12%; position: absolute; right: 0; height: 1px; background-color: #000; top: 0; transition: transform 400ms, opacity 400ms; opacity: 0; transform-origin: 0 50%; transform: scale(0);
				@media screen and (max-width: 650px){ display: none;}
			}
			&.animated{border-color:#000;
				&:after{transform: scale(1); opacity: 1; }
			}
		}
		li{ position: relative; width: 25%; padding: 45px 10px 20px; min-height:185px;
			@media screen and (max-width: 650px){ width: 100%;}
		}
	}
	&__num{ font-weight: 500; z-index: 90; font-size: 21px; width: 45px; height: 45px; background-color: #fc0; border-radius:50%; display: flex; justify-content: center; align-items: center; position: absolute; right: 50%; top: -22px;
		@media screen and (max-width: 650px){ right:calc(50% - 22px);}
	}
	&__arrow{ position: absolute; right:calc(50% + 60px); height: 1px; width: calc(100% - 45px); background-color: #000; top:1px; z-index: 2; transition: transform 400ms, opacity 400ms; opacity: 0; transform-origin: 0 50%; transform: scale(0);
		@media screen and (max-width: 650px){ display: none;}
		&:after{ content: ''; position: absolute; width: 4px; height: 4px; border-top: 1px solid #000; border-right: 1px solid #000; transform:rotate(45deg); right: 0; top:-1px;}
	}
	&__text{ font-weight: 300; max-width: 254px; width: 100%; margin: 0 auto;}
	.animated{
		.simple__arrow{transform: scale(1); opacity: 1; }
	}
}
.risk{min-height: 634px; display: flex; justify-content: center; align-items: center; height: 100vh;
	&__wrap{ padding-bottom: 80px;}
	&__ttl{ font-size: 41px; font-family:'PFDinTextPro'; text-align: center; padding: 92px 0 38px;
		@media screen and (max-width: 900px){ font-size: 26px;}
	}
	&__content{ display: flex; justify-content: space-between; align-items: flex-start;
		@media screen and (max-width: 1200px){flex-wrap: wrap; justify-content: space-around;}
	}
	&__item{border:1px solid #e8e8e8; width: 295px; min-height: 355px; margin-bottom: 20px; opacity: 0; transform: scale(0); transition: all 300ms;
		&.animated{opacity: 1; transform: scale(1);}
	}
	&__img{ display: flex; justify-content: center; align-items: center; height: 168px;}
	&__txt{ text-align: center; font-size: 15px; font-weight: 300;line-height: 1.7;		padding: 0 25px;}
	@media screen and (max-width: 1200px){.mbox{ max-width: 880px;}}
}
.dohod{min-height: 440px; display: flex; justify-content: center; align-items: center; height: 100vh;
	&__wrap{ padding-bottom: 50px;}
	&__ttl{ font-size: 41px; font-family:'PFDinTextPro'; text-align: center; padding: 92px 0 38px;
		@media screen and (max-width: 900px){ font-size: 26px;}
	}
	&__content{ display: flex; justify-content: space-between; align-items: flex-start;
		@media screen and (max-width: 1200px){flex-wrap: wrap; justify-content: space-around;}
	}
	&__item{width: 214px;  margin-bottom: 20px; opacity: 0; transform: scale(0); transition: all 300ms; position: relative; padding-top: 55px; margin-bottom: 20px;
		&.animated{opacity: 1; transform: scale(1);}
	}
	&__num{ font-size: 110px; font-weight: 700; position: absolute; top: 0; left: 0; z-index: 0; font-family:'Roboto'; line-height: 82px; padding-left: 20px;}
	&__txt{ text-align: center; font-size: 14px; font-weight: 300; padding: 20px 15px 0;; background-color: #fc0; z-index: 10; position: relative; height: 136px; line-height: 1.49;}
	@media screen and (max-width: 1200px){.mbox{ }}
}
.boss{ background-image: url(../images/whatisbg.jpg); background-repeat: repeat; background-position: 50%; overflow: hidden; min-height: 1050px; display: flex; justify-content: center; align-items: center; height: 100vh;
	&__ttl{ font-size: 41px; font-family:'PFDinTextPro'; text-align: center; padding: 92px 0 30px;
		@media screen and (max-width: 900px){ font-size: 26px;}
	}
	&__wrap{ background-image: url(../images/boss.png); width: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 0; display: flex; justify-content: flex-end; align-items: flex-start; min-height: 861px; margin-bottom: 40px;
		@media screen and (max-width: 992px){ background-position: 75% 0;}
		@media screen and (max-width: 767px){background: #574d58; border:7px solid #fc0; min-height:1px;}
		@media screen and (max-width: 479px){border:none;}
	}
	&__content{ width: 50%; padding-top: 120px; padding-right: 60px;
		@media screen and (max-width: 1100px){ width: 60%;}
		@media screen and (max-width: 992px){ width: 70%;}
		@media screen and (max-width: 767px){ width:100%; padding:30px 20px;}
		@media screen and (max-width: 479px){ width:100%; padding:30px 5px;}
	}
	&__title{
		h3{ margin: 0 0 10px; font-weight: 200; color: #fff; font-size: 35px;line-height: 1.15;
			@media screen and (max-width: 767px){ font-size:25px; padding: 0 10px;}
		}
		h5{ margin: 0; font-weight: 200; color: #fff; font-size: 17px;line-height: 1.49;
			@media screen and (max-width: 767px){ font-size:15px; padding: 0 10px;}
		}
		ul{font-weight: 200; color: #fff; font-size: 15px; padding: 44px 0 28px; list-style-type: none;
			@media screen and (max-width: 992px){ padding: 0;}
			@media screen and (max-width: 767px){ font-size: 13px; padding:0 10px;}
			li{ margin-bottom: 22px; display: flex; justify-content: flex-start; align-items: center;}
			img{ margin-right: 14px;}
		}

	}
	&__form{ width: 280px;
		@media screen and (max-width: 767px){ margin: 0 auto;}

	}
}
