<section class="about">
    <div class="mbox">
        <div class="about__ttl">
            <h4>О компании A-plan</h4>
        </div>
        <div class="about__content">
            <div class="about__left desctop">
                <div class="about__left-item">
                    <span><img src="images/about01.png" alt=""></span>
                    <span>
                       <h6>Постоянные спикеры отраслевых конференций НАУМИР</h6>
                            <p></p>
                    </span>
                </div>
                <div class="about__left-item">
                    <span><img src="images/about02.png" alt=""></span>
                    <span>
                        <h6>Входим в СРО МИР</h6>
                            <p> </p>
                    </span>
                </div>
                <div class="about__left-item">
                    <span><img src="images/about03.png" alt=""></span>
                    <span>
                       <h6>Члены РСПП</h6>
                            <p></p>
                    </span>
                </div>
            </div>
            <div class="slider-wrap-about mobile">
                <div class="about__left">
                    <div class="about__left-item-wrap">
                        <div class="about__left-item">
                            <span><img src="images/about01.png" alt=""></span>
                            <span>
                            <h6>Постоянные спикеры отраслевых конференций НАУМИР</h6>
                            <p></p>
                        </span>
                        </div>
                    </div>
                    <div class="about__left-item-wrap">
                        <div class="about__left-item">
                            <span><img src="images/about02.png" alt=""></span>
                            <span>
                            <h6>Входим в СРО МИР</h6>
                            <p> </p>
                        </span>
                        </div>
                    </div>
                    <div class="about__left-item-wrap">
                        <div class="about__left-item">
                            <span><img src="images/about03.png" alt=""></span>
                            <span>
                            <h6>Члены РСПП</h6>
                            <p></p>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="about__right">
                <p><b>A-ПЛАН</b> - компания полного цикла финансовых продуктов и услуг, ориентированных на рынок государственных и полугосударственных закупок.</p>

                <p>Миссия компании: Сделать финансовые продукты простыми и доступными для малого и среднего бизнеса в России </p>

                <p>Успех компании предопределен симбиозом трех ключевых компетенций: </p>
                <ul style="list-style-type: decimal;">
                    <li> Глубокая экспертиза и многолетний опыт на финансовом рынке</li>
                    <li>  Глубокая экспертиза и многолетний опыт торгов и исполнения государственных контрактов </li>
                    <li>   Глубокая экспертиза и многолетний опыт в области маркетинга, коммуникациях и моделировании</li>
                </ul>
                <p>Иными словами мы знаем, какой продукт актуален для рынка, какие проблемы клиента он решает, и как можно быстро его масштабировать.</p>

                <p>Деятельность компании находится под регулированием Центробанка России (Свидетельство №1603045007941).
                    Компания располагает собственными и заемными средствами для кредитования своих клиентов.
                    Основными клиентами компании являются субъекты малого и среднего предпринимательства, деятельность которых заключается в исполнении государственных и полугосударственных контрактов.</p>
                <div class="about__slider-wrap">
                    <div class="about__slider">
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #1"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #2"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #3"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #4"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #5"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #6"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #7"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #8"><img src="images/about-slide.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>