<section class="about">
    <div class="mbox">
        <div class="about__ttl">
            <h4>О компании A-plan</h4>
        </div>
        <div class="about__content">
            <div class="about__left desctop">
                <div class="about__left-item">
                    <span><img src="images/about01.png" alt=""></span>
                    <span>
                        <h6>Европейское качество</h6>
                        <p>Мы являемся гордыми обалдателями европейских сертификатов качества</p>
                    </span>
                </div>
                <div class="about__left-item">
                    <span><img src="images/about02.png" alt=""></span>
                    <span>
                        <h6>Производим  по ГОСТу</h6>
                        <p>Мы являемся гордыми обалдателями европейских сертификатов качества</p>
                    </span>
                </div>
                <div class="about__left-item">
                    <span><img src="images/about03.png" alt=""></span>
                    <span>
                        <h6>Международная дилерская сеть</h6>
                        <p>Имеем более 50 представительств по всему миру</p>
                    </span>
                </div>
            </div>
            <div class="slider-wrap-about mobile">
                <div class="about__left">
                    <div class="about__left-item-wrap">
                        <div class="about__left-item">
                            <span><img src="images/about01.png" alt=""></span>
                            <span>
                            <h6>Европейское качество</h6>
                            <p>Мы являемся гордыми обалдателями европейских сертификатов качества</p>
                        </span>
                        </div>
                    </div>
                    <div class="about__left-item-wrap">
                        <div class="about__left-item">
                            <span><img src="images/about02.png" alt=""></span>
                            <span>
                            <h6>Производим  по ГОСТу</h6>
                            <p>Мы являемся гордыми обалдателями европейских сертификатов качества</p>
                        </span>
                        </div>
                    </div>
                    <div class="about__left-item-wrap">
                        <div class="about__left-item">
                            <span><img src="images/about03.png" alt=""></span>
                            <span>
                            <h6>Международная дилерская сеть</h6>
                            <p>Имеем более 50 представительств по всему миру</p>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="about__right">
                <p>Сектор госзаказов растет с каждым годом. Все больше предпринимателей осознают необходимость участия в государственных проектах для развития собственного бизнеса. Органы государственной или муниципальной власти организуют тендеры, целью проведения которых является поиск исполнителя, способного предложить наиболее выгодные условия выполнения проекта. Участие в тендерах дает шанс заключить успешную сделку.</p>
                <p>Однако, не всегда у компании, имеющей достаточный профессиональный опыт для выполнения госзаказа, есть возможность участвовать в тендере. И основная причина — необходимость предоставления финансового обеспечения заявки на участие в тендере. Согласно Федеральному закону от 21 июля 2005 г. N 94-ФЗ «О размещении заказов на поставки товаров, выполнение работ, оказание услуг для государственных и муниципальных нужд» участник размещения Государственного заказа (участник электронных торгов) обязан предоставить обеспечение участия в аукционе в размере от 0,5 до 5% от начальной максимальной цены лота.</p>
                <p>Обеспечение должно быть представлено путем перечисления денежных средств участника организаторам торгов. Перспектива победы в тендере и получения серьезного госконтракта очень заманчива. Но что же делать, если нет возможности изымать собственные оборотные средства? Ответ — взять кредит или займ у сторонней организации. Как это можно сделать?</p>
                <div class="about__slider-wrap">
                    <div class="about__slider">
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #1"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #2"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #3"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #4"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #5"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #6"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #7"><img src="images/about-slide.png" alt=""></a></div>
                        <div class="abut__slide-wrap"><a href="images/about-slide.png" class="about__slide" data-fancybox="group" data-caption="some Text #8"><img src="images/about-slide.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>