<section class="boss">
    <div class="mbox">
        <div class="boss__ttl">Запишитесь на встречу с генеральным директором «A-plan»</div>
        <div class="boss__wrap">
            <div class="boss__content">
                <div class="boss__title">
                    <h3>Серегин Сергей готов ответить
                        на все интересующие Вас вопросы</h3>
                    <h5>( в том числе по стратегии кредитования, перспективам
                        развития МФО и работе с инвесторами )</h5>
                    <ul>
                        <li><img src="/images/check.png" alt=""><span>Эксперт в области кредитования малого и среднего бизнеса в Госзаказе</span></li>
                        <li><img src="/images/check.png" alt=""><span>Финансирует участников рынка с момента основания 94ФЗ</span></li>
                        <li><img src="/images/check.png" alt=""><span>Разработал и внедрил передовые модели оценки заемщиков на рынке 44ФЗ  и 223 ФЗ</span></li>
                    </ul>
                </div>
                <div class="boss__form form">
                    <form action="ajax.php" class="form-boss">
                        <div class="form__row">
                            <div class="form__item">
                                <input type="text" required="required" placeholder="Ваше имя" name="name">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__item">
                                <input type="text" required="required" placeholder="Ваш номер телефона" name="phone" class="tel-mask">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__item">
                                <button class="button">Записаться у секретаря</button>
                                <div class="credit__lock-content">
                                    <img src="images/lock.png" alt="">
                                    <span>Ваши персональные данные защищены и не будут переданы третьим лицам!</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>