<section class="credit">
    <div>
        <div class="credit__yellow">
            <div class="mbox">
                <div class="credit__ttl">
                    <h4>Выдавая займ, гарантируем выпуск <br><a href="#"> банковской гарантии</a> <br> и защищаем от попадения в РНП</h4>
                </div>
            </div>
        </div>
        <div class="credit__form">
            <form action="ajax.php" class="credit-form">
                <div class="credit__subtitle">
                    <h4>Предоставляем займы на исполнение контрактов</h4>
                    <h6> Оставьте заявку для согласовния индивидуальных условий:</h6>
                </div>
                <div class="credit__row">
                    <div class="credit__item"><input type="text" name="name" placeholder="Ваше имя" required="required"></div>
                    <div class="credit__item"><input type="text" name="phone" placeholder="Ваш номер телефона" required="required" class="tel-mask"></div>
                    <div class="credit__item">
                        <button class="button">Согласовать условия</button>
                        <div class="credit__lock-content">
                            <img src="images/lock.png" alt="">
                            <span>Ваши персональные данные защищены и не будут переданы третьим лицам!</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>