<section class="dohod">
    <div class="mbox">
        <div class="dohod__wrap animate-section">
            <div class="dohod__ttl">Откуда такая высокая доходность</div>
            <div class="dohod__content">
                <div class="dohod__item animate-delay" data-index="0">
                    <div class="dohod__num">1</div>
                    <div class="dohod__txt">Отсутствие риска невозврата
                        займа, отсутствие расходов на
                        резервирование</div>
                </div>
                <div class="dohod__item animate-delay" data-index="1">
                    <div class="dohod__num">2</div>
                    <div class="dohod__txt">Короткие займы + небольшие суммы не нагружают бюджет
                        клиента, но стоят дороже
                        банковских кредитов</div>
                </div>
                <div class="dohod__item animate-delay" data-index="2">
                    <div class="dohod__num">3</div>
                    <div class="dohod__txt">При постоянном потоке выдач показываем стабильно высокую доходность</div>
                </div>
                <div class="dohod__item animate-delay" data-index="3">
                    <div class="dohod__num">4</div>
                    <div class="dohod__txt">Все процессы
                        автоматизированы, поэтому мы готовы выдавать до 100 займов
                        в день</div>
                </div>
                <div class="dohod__item animate-delay" data-index="4">
                    <div class="dohod__num">5</div>
                    <div class="dohod__txt">Рынок 44 и 223 ФЗ растет
                        с каждым годом. Рынок займовсоставляет лишь 1/10 от потенциально возможного</div>
                </div>
            </div>
        </div>
    </div>
</section>