<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer__menu slider__menu">
        <ul>
            <li><a href="#">Тендерный займ</a></li>
            <li><a href="#">банковская гарантия</a></li>
            <li><a href="#">кредит на исполнение контракта</a></li>
            <li><a href="#">инвестирование</a></li>
        </ul>
    </div>
    <div class="mbox">
        <div class="footer__wrap">

            <div class="footer__content">
                <div class="footer__left">
                    <div class="footer__logo header__logo">
                        <a href="#"><img src="images/logo-f.png" alt=""></a>
                        <div class="footer__lic header__lic">
                            <h6>финансируем успешный бизнес</h6>
                            <p>Лицензия ЦБ РФ № 1603045007941</p>
                        </div>
                    </div>
                    <div class="footer__copyright">
                        <p>Работа сайта и предоставление информации регламентируется в соответствии с ФЗ №152 "О защите персональных данных"</p>
                    </div>
                </div>
                <div class="footer__center">
                    <div class="footer__download">
                        <a href="#" class="button"><img src="images/footdl.png" alt=""><span>Скачать реквизиты</span></a>
                    </div>
                    <div class="footer__soc header__soc">
                        <div class="header__soc__item vk">
                            <img src="images/icon-soc-vk.png" alt="">
                        </div>
                        <div class="header__soc__item fb">
                            <img src="images/icon-soc-fb.png" alt="">
                        </div>
                        <div class="header__soc__item gp">
                            <img src="images/icon-soc-g.png" alt="">
                        </div>
                        <div class="header__soc__item ig">
                            <img src="images/icon-soc-ig.png" alt="">
                        </div>
                        <div class="header__soc__item ok">
                            <img src="images/icon-soc-ok.png" alt="">
                        </div>
                        <div class="header__soc__item tw">
                            <img src="images/icon-soc-tw.png" alt="">
                        </div>
                        <div class="header__soc__item yt">
                            <img src="images/icon-soc-yt.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer__right">
                    <div class="footer__tel header__tel">
                        <p>Для звонков по России</p>
                        <p><a href="tel:8(800)8978797">+7 (804) 333-76-23</a></p>
                    </div>
                    <a data-fancybox data-src="#call-popup" href="javascript:;" class="button">Заказать обратный звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<!-- add new file here -->
<link rel="stylesheet" href="css/zdev_0_basic.css">
<link rel="stylesheet" href="css/zdev_1.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">s
<script>
    var cordX= 55.753702;
    var cordY = 37.619913;
    var googleText = "lorem ipsum";
</script>
<script type="text/javascript" src="js/plagins/jquery.js" ></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4iiu69HGNYjeWowMnGtdghML_vNg5M_Y"></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
