<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header">
            <div class="header__logo">
                <a href="#"><img src="images/logo.png" alt=""></a>
                <div class="header__lic">
                    <h6>финансируем успешный бизнес</h6>
                    <p>Лицензия ЦБ РФ №010192393930-20-2</p>
                </div>
            </div>

            <div class="header__soc">
                <div class="header__soc__item">
                    <img src="images/icon-soc-vk.png" alt="">
                </div>
                <div class="header__soc__item">
                    <img src="images/icon-soc-fb.png" alt="">
                </div>
                <div class="header__soc__item">
                    <img src="images/icon-soc-g.png" alt="">
                </div>
                <div class="header__soc__item">
                    <img src="images/icon-soc-ig.png" alt="">
                </div>
                <div class="header__soc__item">
                    <img src="images/icon-soc-ok.png" alt="">
                </div>
                <div class="header__soc__item">
                    <img src="images/icon-soc-tw.png" alt="">
                </div>
                <div class="header__soc__item">
                    <img src="images/icon-soc-yt.png" alt="">
                </div>
            </div>

            <div class="header__button">
                <div class="header__tel">
                    <p>Для звонков по России</p>
                    <p><a href="tel:8(800)8978797">8 (800) 897–87–97</a></p>
                </div>
                <a href="#" class="button">Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

