<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header">
            <div class="header__logo">
                <a href="#"><img src="images/logo.png" alt=""></a>
                <div class="header__lic">
                    <h6>финансируем успешный бизнес</h6>
                    <p>Лицензия ЦБ РФ № 1603045007941</p>
                </div>
            </div>

            <div class="header__soc">
                <a href="https://vk.com/obespecheniezayavki" target="_blank" class="header__soc__item vk">
                    <img src="images/icon-soc-vk.png" alt="">
                </a>
                <a href="https://www.facebook.com/obespecheniezayavki/" target="_blank" class="header__soc__item fb">
                    <img src="images/icon-soc-fb.png" alt="">
                </a>
                <a href="https://plus.google.com/u/0/114048382313679106584" target="_blank" class="header__soc__item gp">
                    <img src="images/icon-soc-g.png" alt="">
                </a>
                <a href="https://www.instagram.com/obespecheniezayavki/" target="_blank" class="header__soc__item ig">
                    <img src="images/icon-soc-ig.png" alt="">
                </a>
                <a href="https://ok.ru/group/53237551530179" target="_blank" class="header__soc__item ok">
                    <img src="images/icon-soc-ok.png" alt="">
                </a>
                <a href="https://twitter.com/Obespechenie_FZ" target="_blank" class="header__soc__item tw">
                    <img src="images/icon-soc-tw.png" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCGQ1voluIQ3PMYddhB3YTWw" target="_blank" class="header__soc__item yt">
                    <img src="images/icon-soc-yt.png" alt="">
                </a>
            </div>

            <div class="header__button">
                <div class="header__tel">
                    <p>Для звонков по России</p>
                    <p><a href="tel:8(800)8978797">+7 (804) 333-76-23</a></p>
                </div>
                <a data-fancybox data-src="#call-popup" href="javascript:;" class="button">Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

