<div class="hidden-block">

    <div id="call_success" class="result-popup">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Благодарим за обращение!</div>
                 <div class="call-subtitle">В рабочее время мы незамедлительно реагируем на обращения. Уже назначен ответственный менеджер.</div>
                 <div class="header__soc">
                     <a href="https://vk.com/obespecheniezayavki" target="_blank" class="header__soc__item vk">
                         <img src="images/icon-soc-vk.png" alt="">
                     </a>
                     <a href="https://www.facebook.com/obespecheniezayavki/" target="_blank" class="header__soc__item fb">
                         <img src="images/icon-soc-fb.png" alt="">
                     </a>
                     <a href="https://plus.google.com/u/0/114048382313679106584" target="_blank" class="header__soc__item gp">
                         <img src="images/icon-soc-g.png" alt="">
                     </a>
                     <a href="https://www.instagram.com/obespecheniezayavki/" target="_blank" class="header__soc__item ig">
                         <img src="images/icon-soc-ig.png" alt="">
                     </a>
                     <a href="https://ok.ru/group/53237551530179" target="_blank" class="header__soc__item ok">
                         <img src="images/icon-soc-ok.png" alt="">
                     </a>
                     <a href="https://twitter.com/Obespechenie_FZ" target="_blank" class="header__soc__item tw">
                         <img src="images/icon-soc-tw.png" alt="">
                     </a>
                     <a href="https://www.youtube.com/channel/UCGQ1voluIQ3PMYddhB3YTWw" target="_blank" class="header__soc__item yt">
                         <img src="images/icon-soc-yt.png" alt="">
                     </a>
                 </div>
             </div>
        </div>
    </div>
    <div id="test-result" class="result-popup">
        <div class="call-success">
            <div class="call_success">
                <div class="call-title">СОГЛАСНЫ ХОТЯ БЫ С ОДНИМ?</div>
                <div class="call-subtitle">ОТЛИЧНО! ВСЕ ЭТИ УТВЕРЖДЕНИЯ - ПРАВДА. ВЫ УДИВЛЕНЫ? ТЕСТ МОЖНО ПРОЙТИ ЕЩЕ РАЗ, А ВЫБРАТЬСЯ ИЗ РНП ПОЛУЧИТСЯ НЕ РАНЕЕ, ЧЕМ ЧЕРЕЗ 2 ГОДА</div>
            </div>
        </div>
    </div>

    <div id="call-popup" class="call-popup">
        <form action="ajax.php" name="" class="call-popup-form">
            <div class="form__row">
                <div class="call-popup__title form__title">
                    Введите номер телефона и мы перезвоним вам через 26 секунд
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="text" required="required" placeholder="Ваш номер телефона" name="phone" class="tel-mask">
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <button class="button">Жду звонок!</button>
                </div>
            </div>
        </form>
    </div>
    <div id="call-popup2" class="call-popup">
        <form action="ajax.php" name="" class="call-popup-form2">
            <div class="form__row">
                <div class="call-popup__title form__title">
                    Заполните необходимые поля
                    для персонального расчета
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="text" required="required" placeholder="Название компании" name="company" >
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="text" required="required" placeholder="ИНН" name="inn" >
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="text" required="required" placeholder="Как к вам обращаться?" name="name" >
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="email" required="required" placeholder="Ваш e-mail" name="email" >
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="text" required="required" placeholder="Ваш номер телефона" name="phone" class="tel-mask">
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <input type="text" required="required" placeholder="Номер лота" name="loth">
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <button class="button">Жду звонок!</button>
                </div>
            </div>
        </form>
    </div>
    <div id="call-popup3" class="result-popup">
        <div class="call-success">
            <div class="call_success">
                <div class="call-title">Хотите увеличить процент? </div>
                <div class="call-subtitle">Посмотрите, как изменится ваш доход, если увеличить время вклада.</div>

            </div>
        </div>
    </div>
</div>