<section class="koleso">
    <div class="koleso__wraper">
        <div class="koleso__logo"><img src="images/big-logo.png" alt=""></div>
        <div class="koleso__slider">
            <ul class="kolo">

                <li data-item="1" class="left3">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo01.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo01-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Самые передовые модели оценки и кредитования бизнеса</h4>
                        <p> Мы используем самые предовые модели оценки и кредитования бизнеса. Эффективно управляем рисками без потери скорости в процессах, всегда находим эффективные решения.</p>
                    </div>
                </li>
                <li data-item="2" class="left4">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo02.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo02-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Гарантируем выпуск банковской гарантии, защищая от попадания в РНП</h4>
                        <p> Выдавая тендерный займ, гарантируем выпуск банковской гарантии и защищаем от попадания в Реестр Недобросовестных Поставщиков. Выдача банковской гарантии предусмотрена процессами при выдаче тендерного займа</p>
                    </div>
                </li>
                <li data-item="3" class="left5">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo03.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo03-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Управляем процессом одобрения на всех этапах от подачи заявки до исполнения контракта</h4>
                        <p> </p>
                    </div>
                </li>
                <li data-item="4" class="active left6">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo04.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Лицензия Центробанка</h4>
                        <p> Финансовая группа А-ПЛАН зарегистрирована в Государственном реестре, Свидетельство Центрального Банка Российской Федерации № 1603045007941.</p>
                    </div>
                </li>
                <li data-item="5" class="left7">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo05.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo05-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Собственный капитал компании <br> 500 000 000 рублей.</h4>
                        <p></p>
                    </div>
                </li>
                <li data-item="6" class="left8">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo06.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo06-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4> Одобрение займа за 30 минут</h4>
                        <p> </p>
                    </div>
                </li>
                <li data-item="7" class="left9">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo07-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4> Оформление и выдача тендерного займа онлайн, полностью удаленно. Работаем по всей России</h4>
                        <p> </p>
                    </div>
                </li>

            </ul>
        </div>
        <div class="koleso__text">
            <div class="arrowed__text">
                <div class="slick-arrow slick-prev"></div>
                <div class="slick-arrow slick-next"></div>
                <div class="scripted-text"></div>
            </div>
            <div class="koleso__form">
                <form action="ajax.php" class="koleso-form">
                    <input type="text" placeholder="Ведите ваш номер телефона" required="required" name="phone" class="tel-mask">
                    <button href="#" class="button button--koleso">Жду звонка!</button>
                </form>

            </div>

        </div>

    </div>
</section>