<section class="koleso">
    <div class="koleso__wraper">
        <div class="koleso__logo"><img src="images/big-logo.png" alt=""></div>
        <div class="koleso__slider">
            <ul class="kolo">

                <li data-item="1" >
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo01.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo01-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Мы используем самые предовые модели оценки и кредитования бизнеса.</h4>
                        <p>Jценка клиента происходит на основе его поведенческой модели в конкретной отрасли, где финансовые показатели и наличие залогов уходит на второй план, увеличивая процент одобрения займов с каждым днем.</p>
                    </div>
                </li>
                <li data-item="2">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo02.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo02-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Выдавая тендерный займ, гарантируем выпуск банковской гарантии и защищаем от попадания в Реестр Недобросовестных Поставщиков.</h4>
                        <p> При выдаче тендерного займа мы автоматически начинаем нести солидарную ответственность перед клиентом за выпуск ему БГ, иначе при не заключении контракта он попадет в РНП, а наш займ спишется в пользу заказчика.</p>
                    </div>
                </li>
                <li data-item="3" >
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo03.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo03-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Управляем процессом одобрения на всех этапах от подачи заявки до исполнения контракта</h4>
                        <p>Мы являемся производителем услуги  тендерный займ и полностью интегрированы в банки партнеры по продукту банковская гарантия, поэтому управление процессом одобрения заявок находится на 100% под нашим контролем.</p>
                    </div>
                </li>
                <li data-item="4" class="active ">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo04.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Мы находимся под жестким контролем ЦБ РФ, что гарантирует полную безопасность  нашим клиентам.</h4>
                        <p>Финансовая группа А-ПЛАН зарегистрирована в Государственном реестре, Свидетельство Центрального Банка Российской Федерации № 1603045007941</p>

                    </div>
                </li>
                <li data-item="5" >
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo05.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo05-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4></h4>
                        <p></p>
                    </div>
                </li>
                <li data-item="6" >
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo06.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo06-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4> Одобрение займа за 30 минут</h4>
                        <p>Мы постоянно совершенствуем нашу скоринговую систему, поэтому готовы ставить новые рекорды скорости одобрения заявок  наших клиентов </p>
                    </div>
                </li>
                <li data-item="7" >
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo07-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4> Оформление и выдача тендерного займа онлайн, полностью удаленно. Работаем по всей России</h4>
                        <p>Где бы вы не находились, мы всегда готовы предложить вам лучшие стандарты работы на рынке финансовых услуг </p>
                    </div>
                </li>

            </ul>
        </div>
        <div class="koleso__text">
            <div class="arrowed__text">
                <div class="slick-arrow slick-prev"></div>
                <div class="slick-arrow slick-next"></div>
                <div class="scripted-text"></div>
            </div>
            <div class="koleso__form">
                <form action="ajax.php" class="koleso-form">
                    <input type="text" placeholder="Ведите ваш номер телефона" required="required" name="phone" class="tel-mask">
                    <button href="#" class="button button--koleso">Жду звонка!</button>
                </form>

            </div>

        </div>

    </div>
</section>