<section class="koleso">
    <div class="koleso__wraper">
        <div class="koleso__logo"><img src="images/big-logo.png" alt=""></div>
        <div class="koleso__slider">
            <ul class="kolo">

                <li data-item="1" class="left3">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Лице1111111обанка</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>
                <li data-item="2" class="left4">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Л222222222222222222анка</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>
                <li data-item="3" class="left5">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Лиц333333333333333анка</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>
                <li data-item="4" class="active left6">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>4444444444444444444444444ка</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>
                <li data-item="5" class="left7">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Л5555555555555555555</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>
                <li data-item="6" class="left8">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Ли666666666666666666666анка</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>
                <li data-item="7" class="left9">
                    <div class="kolo__wrap">
                        <div class="kolo__img"><img src="images/kolo07.png" alt=""></div>
                        <div class="kolo__img active"> <img src="images/kolo04-a.png" alt=""></div>
                    </div>
                    <div class="kolo__txt">
                        <h4>Лицен07тробанка</h4>
                        <p> Сегментация рынка, безусловно, переворачивает тактический системный анализ, учитывая результат предыдущих медиа-кампаний. Правда,
                            специалисты отмечают, что косвенная реклама переворачивает
                            бизнес-план, повышая конкуренцию. Рекламная заставка, конечно,
                            регулярно оправдывает комплексный целевой сегмент рынка,
                            осознав маркетинг как часть производства</p>
                    </div>
                </li>

            </ul>
        </div>
        <div class="koleso__text">
            <div class="arrowed__text">
                <div class="slick-arrow slick-prev"></div>
                <div class="slick-arrow slick-next"></div>
                <div class="scripted-text"></div>
            </div>
            <div class="koleso__form">
                <input type="text" placeholder="Ведите ваш номер телефона" class="tel-mask">
                <button href="#" class="button button--koleso">Жду звонка!</button>
            </div>

        </div>

    </div>
</section>