<section class="map">
    <div id="map"></div>

    <div class="map__form-wrap">
        <div class="mbox">
            <div class="map__form">
                <form action="ajax.php" class="map-form">
                    <div class="form__row">
                        <div class="form__title">
                            Оставьте заявку и мы перезвоним в ближайшее время
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__item">
                            <input type="text" required="required" placeholder="Ваше имя" name="name">
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__item">
                            <input type="text" required="required" placeholder="Ваш номер телефона" name="phone" class="tel-mask">
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__item">
                            <button class="button">Получить бесплатную консультацию</button>
                            <div class="credit__lock-content">
                                <img src="images/lock.png" alt="">
                                <span>Ваши персональные данные защищены и не будут переданы третьим лицам!</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>