<section class="partners">
    <div class="mbox">
        <div class="partners__content">
            <div class="partners__left">
                <h5>Наши клиенты</h5>
                <div class="partners__gray">
                    <p>Мы заботимся о конфиденциальности
                        своих клиентов. А это значит, что
                        ваши данные никогда нигде
                        не будут опубликованы!</p>
                </div>
            </div>
            <div class="partners__right">
                <h5>Наши партнеры</h5>
                <div class="partners__slider">
                    <div class="partners__slide-wrap">
                        <a href="#" class="partners__slide"><img src="images/partners01.png" alt=""></a>
                    </div>
                    <div class="partners__slide-wrap">
                        <a href="#" class="partners__slide"><img src="images/partners02.png" alt=""></a>
                    </div>
                    <div class="partners__slide-wrap">
                        <a href="#" class="partners__slide"><img src="images/partners03.png" alt=""></a>
                    </div>
                    <div class="partners__slide-wrap">
                        <a href="#" class="partners__slide"><img src="images/partners01.png" alt=""></a>
                    </div>
                    <div class="partners__slide-wrap">
                        <a href="#" class="partners__slide"><img src="images/partners02.png" alt=""></a>
                    </div>
                    <div class="partners__slide-wrap">
                        <a href="#" class="partners__slide"><img src="images/partners03.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>