<section class="radio">
    <div class="mbox">
        <div class="radio__content">
            <div class="radio__title">
                <h3>Достаточно ли у вас знаний, чтобы не попасть в РНП? *</h3>
                <p>*реестр недобросовестных поставщиков</p>
                <p><i>Как вы считаете, какие из данных утверждений верны? </i></p>
            </div>
            <div class="radio__table">
                <div class="radio__table__row">
                    <div class="radio__table__row__text">80% попаданий в РНП происходят по причине неполучения подрядчиками банковских гарантий на исполнение контракта</div>
                    <div class="radio__table__row__radio">
                        <label><input type="radio" name="one"><b></b><span>Да</span></label>
                        <label><input type="radio" name="one"><b></b><span>Нет</span></label>
                    </div>
                </div>
                <div class="radio__table__row">
                    <div class="radio__table__row__text">Это происходит, потому что недобросовестные брокеры ОБЕЩАЮТ, не имея финансовой экспертизы и возможности влиять на БАНК,
                        а потом не справляются с обещаниями</div>
                    <div class="radio__table__row__radio">
                        <label><input type="radio" name="two"><b></b><span>Да</span></label>
                        <label><input type="radio" name="two"><b></b><span>Нет</span></label>
                    </div>
                </div>
                <div class="radio__table__row">
                    <div class="radio__table__row__text">Финансовой экспертизой могут обладать только те компании, деятельность которых находится под контролем Центробанка</div>
                    <div class="radio__table__row__radio">
                        <label><input type="radio" name="three"><b></b><span>Да</span></label>
                        <label><input type="radio" name="three"><b></b><span>Нет</span></label>
                    </div>
                </div>
                <div class="radio__table__row">
                    <div class="radio__table__row__text">Выдавая займ на Обеспечние заявки, мы несем солидарную ответственность вместе с клиентом за получение им Банковской гарантии</div>
                    <div class="radio__table__row__radio">
                        <label><input type="radio" name="four"><b></b><span>Да</span></label>
                        <label><input type="radio" name="four"><b></b><span>Нет</span></label>
                    </div>
                </div>
                <div class="radio__table__row">
                    <div class="radio__table__row__text">В отличие от всего рынка, мы не ТУШИМ пожар, когда остается 2 дня до подписания контракта.
                        Мы расскажем и покажем Вам, как его ПРЕДОТВРАТИТЬ!</div>
                    <div class="radio__table__row__radio">
                        <label><input type="radio" name="five"><b></b><span>Да</span></label>
                        <label><input type="radio" name="five"><b></b><span>Нет</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>