<section class="risk">
    <div class="mbox">
        <div class="risk__wrap animate-section">
            <div class="risk__ttl">Риск для инвестора отсутствует</div>
            <div class="risk__content">
                <div class="risk__item animate-delay" data-index="0">
                    <div class="risk__img"><img src="images/risk01.png" alt=""></div>
                    <div class="risk__txt">Вы всегда имеете возможность забрать денежные средства. Для это достаточно сообщить персональному менеджеру
                        о намерении досрочно расторгнуть договор</div>
                </div>
                <div class="risk__item animate-delay" data-index="1">
                    <div class="risk__img"><img src="images/risk02.png" alt=""></div>
                    <div class="risk__txt">Рынок МФО за последнее время потерпел существенные изменения. Он находится под прицелом ЦБ РФ. Существуют СРО, которые следят за работой компаний</div>
                </div>
                <div class="risk__item animate-delay" data-index="2">
                    <div class="risk__img"><img src="images/risk03.png" alt=""></div>
                    <div class="risk__txt">Процесс зачисления и возврата займа автоматизирован.
                        Мы не даем деньги в свободное пользование, работая в сфере госконтрактов только
                        с надежными клиентами</div>
                </div>
                <div class="risk__item animate-delay" data-index="3">
                    <div class="risk__img"><img src="images/risk04.png" alt=""></div>
                    <div class="risk__txt">Личное поручительство собственников и генерального директора «A-plan»</div>
                </div>
            </div>
        </div>
    </div>
</section>