<section class="simple">
    <div class="mbox">
        <div class="simple__wrap animate-section">
            <div class="simple__ttl">
                <h5>В какой бизнес вы инвестируете</h5>
                <h6>Пример типового сценария:</h6>
            </div>
            <ul class="animate-delay" data-index="3">
                <li class="animate-delay" data-index="4">
                    <div class="simple__arrow"></div>
                    <div class="simple__num">1</div>
                    <div class="simple__text">Компания / государственная организация делает тендер на одной из площадок</div>
                </li>
                <li  class="animate-delay" data-index="0">
                    <div class="simple__arrow"></div>
                    <div class="simple__num">2</div>
                    <div class="simple__text">Клиент, от которого требуется внести 5% от стоимости лота, обращается за услугой тендерный заем в «A-plan»</div>
                </li>
                <li  class="animate-delay" data-index="1">
                    <div class="simple__arrow"></div>
                    <div class="simple__num">3</div>
                    <div class="simple__text">После проверки платежеспособности мы финансируем указанный лот  с выдачей банковской гарантии наших партнеров (без непосредственного перевода средств клиента - поставищку)</div>
                </li>
                <li  class="animate-delay" data-index="2">
                    <div class="simple__arrow"></div>
                    <div class="simple__num">4</div>
                    <div class="simple__text">После завершения лота (при любом его результате) средства автоматически возвращаются  к нам</div>
                </li>
            </ul>
        </div>
    </div>
</section>