<section class="steps">
    <div class="mbox">
        <div class="steps__wrap">
            <div class="steps__ttl">
                <h5>Этапы сотрудничества</h5>
            </div>
            <div class="steps__items">
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps01.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Звоните, оставляете <br>заявку Мы перезваниваем <br> через 26 секунд</p>
                        <a href="#" class="button button--steps">Позвоните мне</a>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps02.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Подготовка минимального <br>
                            пакета документов за 5 минут</p>
                        <a href="#" class="button button--steps">Список документов</a>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps03.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Получаете решение <br>
                            по вашему вопросу</p>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps04.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Переводим средства <br>
                            на площадку без <br>
                            открытия Р/С</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>