<section class="steps">
    <div class="mbox">
        <div class="steps__wrap">
            <div class="steps__ttl">
                <h5>Начать инвестировать с A-plan</h5>
            </div>
            <div class="steps__items">
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps01.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Звоните, оставляете <br>заявку Мы перезваниваем <br> через 26 секунд</p>
                        <a data-fancybox data-src="#call-popup" href="javascript:;" class="button button--steps">Позвоните мне</a>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps05.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Посещаете наш офис, либо <br>
                            заключаем договор удаленно</p>

                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps06.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Принимаем средства <br>
                            на Р/С</p>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__img">
                        <div class="steps__big-circle"></div>
                        <div class="steps__small-circle"><span>1</span></div>
                        <div class="steps__pict"><img src="images/steps07.png" alt=""></div>
                    </div>
                    <div class="steps__text">
                        <p>Получаете выплаты <br>
                            процентов ежемесячно</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>