<section class="invest">
    <div class="mbox">
        <div class="invest__wrap animate-section">
            <div class="invest__ttl">Куда выгоднее инвестировать?</div>
            <div class="invest__table">
                <ul class="desctop">
                    <li class="first animated">
                        <div class="invest__row invest__row--head"></div>
                        <div class="invest__row">Сумма</div>
                        <div class="invest__row">Срок</div>
                        <div class="invest__row">Доходность</div>
                        <div class="invest__row">Риски</div>

                    </li>
                    <li class="animate-delay" data-index="0">
                        <div class="invest__row--head invest__row">Акции</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 1 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 3 мес.</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red">1.5%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="red">Высокие</span></div>

                    </li>
                    <li class="animate-delay" data-index="2">
                        <div class="invest__row--head invest__row">Недвижимость</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span class="red">от 8 млн. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 10 лет.</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red"> 9%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span>Низкие</span></div>

                    </li>
                    <li class="animate-delay" data-index="4">
                        <div class="invest__row--head invest__row">PIF’ы</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span> от $100</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span>от 1 дня</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span> 25%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="red">Высокие</span></div>

                    </li>
                    <li class="aplan animate-delay" data-index="6">
                        <div class="invest__row--head invest__row">A-plan</div>
                        <div class="invest__row"><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Сумма</span><span>от 1.5 млн руб.</span></div></div>
                        <div class="invest__row"><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Срок</span><span> каждые 30 дней</span></div></div>
                        <div class="invest__row"><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Доходность</span><span>до 23%</span></div></div>
                        <div class="invest__row"><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Риски</span><span>Отсутствуют</span></div></div>
                    </li>
                    <li class="animate-delay" data-index="5">
                        <div class="invest__row--head invest__row">Страхование</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 300 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 5 лет</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red">4%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="red">Выше среднего</span></div>

                    </li>
                    <li class="animate-delay" data-index="3">
                        <div class="invest__row--head invest__row">Вклады</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 1 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 3 мес.</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red">10%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="gray">Зависит от банка</span></div>

                    </li>
                    <li class="animate-delay" data-index="1">
                        <div class="invest__row--head invest__row">Авто</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 500 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><img src="images/stop.png" alt=""></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><img src="images/stop.png" alt=""></div>
                        <div class="invest__row"><span class="mobile">Риски</span><img src="images/stop.png" alt=""></div>

                    </li>

                </ul>
                <ul class="slider-ul">
                    <li class="animated">
                        <div class="invest__row--head invest__row">Акции</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 1 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 3 мес.</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red">1.5%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="red">Высокие</span></div>
                    </li>
                    <li class="animated">
                        <div class="invest__row--head invest__row">Недвижимость</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span class="red">от 8 млн. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 10 лет.</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red"> 9%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span>Низкие</span></div>
                    </li>
                    <li class="animated">
                        <div class="invest__row--head invest__row">PIF’ы</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span> от $100</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span>от 1 дня</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span> 25%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="red">Высокие</span></div>
                    </li>
                    <li class="aplan animated">
                        <div class="invest__row--head invest__row">A-plan</div>
                        <div class="invest__row"><div><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Сумма</span><span>от 1.5 млн руб.</span></div></div></div>
                        <div class="invest__row"><div><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Срок</span><span> каждые 30 дней</span></div></div></div>
                        <div class="invest__row"><div><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Доходность</span><span>до 23%</span></div></div></div>
                        <div class="invest__row"><div><img src="images/check.png" alt=""><div class="invest__txt"><span class="mobile">Риски</span><span>Отсутствуют</span></div></div></div>
                    </li>
                    <li class="animated">
                        <div class="invest__row--head invest__row">Страхование</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 300 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 5 лет</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red">4%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="red">Выше среднего</span></div>
                    </li>
                    <li class="animated">
                        <div class="invest__row--head invest__row">Вклады</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 1 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><span class="red">от 3 мес.</span></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><span class="red">10%</span></div>
                        <div class="invest__row"><span class="mobile">Риски</span><span class="gray">Зависит от банка</span></div>
                    </li>
                    <li class="animated">
                        <div class="invest__row--head invest__row">Авто</div>
                        <div class="invest__row"><span class="mobile">Сумма</span><span>от 500 т. руб.</span></div>
                        <div class="invest__row"><span class="mobile">Срок</span><img src="images/stop.png" alt=""></div>
                        <div class="invest__row"><span class="mobile">Доходность</span><img src="images/stop.png" alt=""></div>
                        <div class="invest__row"><span class="mobile">Риски</span><img src="images/stop.png" alt=""></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>



