<section class="slider">
    <div class="slider__content">
        <div class="slider__content__wrap slick-init">
            <div data-img="images/bgfortz3.jpg" class="slider__content__wrap__slide">
                <div class="slider__content__title">Тендерный займ в Москве</div>
                <div class="slider__content__text">
                   <div class="slider__content__text__item">
                       <div class="slider__content__text__item__top"><img src="images/slider-04.png" alt=""></div>
                       <div class="slider__content__text__item__bot">Страхование <br>от попадания в реестр
                       </div>
                   </div>
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-05.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Одобрение <br>за 30 минут</div>
                    </div>
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-06.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Лицензия <br> Центробанка</div>
                    </div>
                </div>
            </div>
            <div data-video="images/small2.mp4" class="slider__content__wrap__slide">
                <div class="slider__content__title">Тендерный займ в Москве</div>
                <div class="slider__content__text">
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-04.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Страхование <br>от попадания в реестр
                        </div>
                    </div>
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-05.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Одобрение <br>за 30 минут</div>
                    </div>
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-06.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Лицензия <br> Центробанка</div>
                    </div>
                </div>
            </div>
            <div data-video="images/small.mp4" class="slider__content__wrap__slide">
                <div class="slider__content__title">Тендерный займ в Москве</div>
                <div class="slider__content__text">
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-04.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Страхование <br>от попадания в реестр
                        </div>
                    </div>
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-05.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Одобрение <br>за 30 минут</div>
                    </div>
                    <div class="slider__content__text__item">
                        <div class="slider__content__text__item__top"><img src="images/slider-06.png" alt=""></div>
                        <div class="slider__content__text__item__bot">Лицензия <br> Центробанка</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="slider__content__button">
            <a data-fancybox data-src="#call-popup2" href="javascript:;" class="button button--slider">Запросить расчет</a>
            <div class="slider__content__button__text">
                <h6>A-PLAN:</h6>
                <p>Мы делаем финансовые продукты
                    простыми и доступными для бизнеса</p>
                <p><i>Генеральный директор A-ПЛАН Серегин Сергей</i></p>
            </div>
        </div>
    </div>
    <div class="slider__menu">
        <ul>
            <li><a href="#">Тендерный займ</a></li>
            <li><a href="#">банковская гарантия</a></li>
            <li><a href="#">кредит на исполнение контракта</a></li>
            <li><a href="#">инвестирование</a></li>
        </ul>
    </div>
    <div class="slider__menu slider__menu--mobile">
        <div class="butter"><span></span><span></span><span></span></div>
        <ul>
            <li><a href="#">Тендерный займ</a></li>
            <li><a href="#">банковская гарантия</a></li>
            <li><a href="#">кредит на исполнение контракта</a></li>
            <li><a href="#">инвестирование</a></li>
        </ul>
    </div>
</section>