<div class="whatis">
    <div class="mbox">
        <div class="whatis__content">
            <div class="whatis__content__left">
                <h5>Что такое тендерный займ?</h5>
                <p>Вы наверняка сталкивались с ситуацией, когда в высокий сезон необходимо участвовать одновременно в нескольких закупках, а денег на обеспечение всех участий не хватает.</p>
                <p>В этом случае можно обратиться в банк, но процедура рассмотрения длиться минимум 1 месяц, а лоты уже через 2 недели…</p>
                <p>На помощь всегда придет тендерный займ от компании "А-ПЛАН"!</p>
            </div>
            <div class="whatis__content__right">
                <div class="whatis__content__right__ttl">Когда необходим:</div>
                <div class="whatis__content__right__table">
                    <div class="whatis__content__right__table__item">
                        <img src="images/whatis01.png" alt="">
                        <p>Во время высокого сезона,
                            когда необходимо обеспечить
                            несколько заявок в одно время</p>
                    </div>
                    <div class="whatis__content__right__table__item">
                        <img src="images/whatis02.png" alt="">
                        <p>Когда До подачи заявки
                            осталось 2 дня, а денег
                            на счету не хватает</p>
                    </div>
                    <div class="whatis__content__right__table__item">
                        <img src="images/whatis03.png" alt="">
                        <p>Когда Заказчик задерживает
                            оплату по контракту, а нужно
                            выходить на новый</p>
                    </div>
                    <div class="whatis__content__right__table__item">
                        <img src="images/whatis04.png" alt="">
                        <p> Когда Банк рассматривает
                            Вашу заявку больше
                            2 недель</p>
                    </div>
                    <div class="whatis__content__right__table__item">
                        <img src="images/whatis05.png" alt="">
                        <p>Когда Нет аванса по контракту,
                            а собственные деньги нужны
                            на 1 этап работ</p>
                    </div>
                    <div class="whatis__content__right__table__item">
                        <img src="images/whatis06.png" alt="">
                        <p>Когда нужен не ограниченный
                            финансовый ресурс на участие
                            в торгах</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>