<section class="why">
    <div>
        <div class="why__columns desctop">
            <img src="images/why.png" alt="">
        </div>

        <div class="mbox">
            <div class="why__columns mobile">
                <div class="why__title">Почему A-plan?</div>
                <div class="why__slider">
                    <div class="why__slide-wrap">
                        <div class="why__slide">
                            <div class="why__logo"><img src="images/logo2.png" alt=""></div>
                            <div class="why__row">
                                <p>Надежность</p>
                                <p>Имеют лицензию ЦБ</p>
                            </div>
                            <div class="why__row">
                                <p>Капитал</p>
                                <p>Имеют доступ к деньгам</p>
                            </div>
                            <div class="why__row">
                                <p>Ставка</p>
                                <p>Выше банковской</p>
                            </div>
                            <div class="why__row">
                                <p>Экспертиза</p>
                                <p>Проф. игрок рынка</p>
                            </div>
                            <div class="why__row">
                                <p>Срок одобрения</p>
                                <p>30 минут</p>
                            </div>
                            <div class="why__row">
                                <p>Обременения</p>
                                <p>Никаких обременений</p>
                            </div>
                            <div class="why__row">
                                <p>Управления процессом одобрения</p>
                                <p>Полное и на всех этапах</p>
                            </div>
                            <div class="why__row">
                                <p>Ориентация на госзаказ и на клиента</p>
                                <p>Полностью ориентированы на госзаказ и клиента</p>
                            </div>
                        </div>
                    </div>
                    <div class="why__slide-wrap">
                        <div class="why__slide">
                            <div class="why__logo"><img src="images/logo2.png" alt=""></div>
                            <div class="why__row">
                                <p>Надежность</p>
                                <p>Имеют лицензию ЦБ</p>
                            </div>
                            <div class="why__row">
                                <p>Капитал</p>
                                <p>Имеют доступ к деньгам</p>
                            </div>
                            <div class="why__row">
                                <p>Ставка</p>
                                <p>Выше банковской</p>
                            </div>
                            <div class="why__row">
                                <p>Экспертиза</p>
                                <p>Проф. игрок рынка</p>
                            </div>
                            <div class="why__row">
                                <p>Срок одобрения</p>
                                <p>30 минут</p>
                            </div>
                            <div class="why__row">
                                <p>Обременения</p>
                                <p>Никаких обременений</p>
                            </div>
                            <div class="why__row">
                                <p>Управления процессом одобрения</p>
                                <p>Полное и на всех этапах</p>
                            </div>
                            <div class="why__row">
                                <p>Ориентация на госзаказ и на клиента</p>
                                <p>Полностью ориентированы на госзаказ и клиента</p>
                            </div>
                        </div>
                    </div>
                    <div class="why__slide-wrap">
                        <div class="why__slide">
                            <div class="why__logo"><img src="images/logo2.png" alt=""></div>
                            <div class="why__row">
                                <p>Надежность</p>
                                <p>Имеют лицензию ЦБ</p>
                            </div>
                            <div class="why__row">
                                <p>Капитал</p>
                                <p>Имеют доступ к деньгам</p>
                            </div>
                            <div class="why__row">
                                <p>Ставка</p>
                                <p>Выше банковской</p>
                            </div>
                            <div class="why__row">
                                <p>Экспертиза</p>
                                <p>Проф. игрок рынка</p>
                            </div>
                            <div class="why__row">
                                <p>Срок одобрения</p>
                                <p>30 минут</p>
                            </div>
                            <div class="why__row">
                                <p>Обременения</p>
                                <p>Никаких обременений</p>
                            </div>
                            <div class="why__row">
                                <p>Управления процессом одобрения</p>
                                <p>Полное и на всех этапах</p>
                            </div>
                            <div class="why__row">
                                <p>Ориентация на госзаказ и на клиента</p>
                                <p>Полностью ориентированы на госзаказ и клиента</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>









