<section class="why">
    <div>
        <div class="why__columns desctop">
            <div class="mbox">
                <div class="descwhy">
                    <div class="descwhy__col descwhy__col--first">
                        <div class="descwhy__head">
                            <h3>Почему <br>A-plan?</h3>
                        </div>
                        <div class="descwhy__row">Надежность</div>
                        <div class="descwhy__row">Капитал</div>
                        <div class="descwhy__row">Ставка</div>
                        <div class="descwhy__row">Экспертиза</div>
                        <div class="descwhy__row">Срок одобрения</div>
                        <div class="descwhy__row">Обременения</div>
                        <div class="descwhy__row">Управление процессом  одобрения</div>
                        <div class="descwhy__row">Ориентация на госзаказ и на клиента</div>
                    </div>
                    <div class="descwhy__col">
                        <div class="descwhy__head">
                            <img src="images/descwhy01.png" alt="">
                            <h4>банки</h4>
                        </div>
                        <div class="descwhy__row">Имеют лицензии ЦБ</div>
                        <div class="descwhy__row">Имеют доступ к дешевым деньгам</div>
                        <div class="descwhy__row">Стандартная</div>
                        <div class="descwhy__row">Проф. игрок рынка</div>
                        <div class="descwhy__row descwhy__row--red">От 2 недель до 1 месяца</div>
                        <div class="descwhy__row descwhy__row--red">Обременения всегда в силу выполнения нормативов</div>
                        <div class="descwhy__row"><img src="images/stop2.png" alt=""></div>
                        <div class="descwhy__row descwhy__row--red">Основная масса совершенно неориентированны</div>
                    </div>
                    <div class="descwhy__col descwhy__col--aplan">
                        <div class="descwhy__head">
                            <img src="images/descwhy02.png" alt="">
                            <h4>финансовая группа</h4>
                        </div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Имеют лицензии ЦБ</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Имеют доступ  деньгам</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Стандартная</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Проф. игрок рынка</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>30 минут</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Никаких обременений</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Полное и на всех этапах</span></div>
                        <div class="descwhy__row"><img src="images/check2.png" alt=""><span>Полностью ориентированы на госзаказ и клиента</span></div>

                    </div>
                    <div class="descwhy__col">
                        <div class="descwhy__head">
                            <img src="images/descwhy03.png" alt="">
                            <h4>частные брокеры</h4>
                        </div>
                        <div class="descwhy__row"><img src="images/stop2.png" alt=""></div>
                        <div class="descwhy__row"><img src="images/stop2.png" alt=""></div>
                        <div class="descwhy__row descwhy__row--red">Очень высокая</div>
                        <div class="descwhy__row descwhy__row--red">Большое количество аматоров</div>
                        <div class="descwhy__row">2 дня</div>
                        <div class="descwhy__row">Никаких обременений</div>
                        <div class="descwhy__row">Только на момент сбора документов</div>
                        <div class="descwhy__row">Полностью ориентированы  на госзаказ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mbox">
            <div class="why__columns mobile">
                <div class="why__title">Почему A-plan?</div>
                <div class="why__slider">
                    <div class="why__slide-wrap">
                        <div class="why__slide">
                            <div class="why__logo"><img src="images/descwhy01.png" alt=""></div>
                            <div class="why__row">
                                <p>Надежность</p>
                                <p>Имеют лицензию ЦБ</p>
                            </div>
                            <div class="why__row">
                                <p>Капитал</p>
                                <p>Имеют доступ к деньгам</p>
                            </div>
                            <div class="why__row">
                                <p>Ставка</p>
                                <p>Выше банковской</p>
                            </div>
                            <div class="why__row">
                                <p>Экспертиза</p>
                                <p>Проф. игрок рынка</p>
                            </div>
                            <div class="why__row">
                                <p>Срок одобрения</p>
                                <p>30 минут</p>
                            </div>
                            <div class="why__row">
                                <p>Обременения</p>
                                <p>Никаких обременений</p>
                            </div>
                            <div class="why__row">
                                <p>Управления процессом одобрения</p>
                                <p>Полное и на всех этапах</p>
                            </div>
                            <div class="why__row">
                                <p>Ориентация на госзаказ и на клиента</p>
                                <p>Полностью ориентированы на госзаказ и клиента</p>
                            </div>
                        </div>
                    </div>
                    <div class="why__slide-wrap">
                        <div class="why__slide">
                            <div class="why__logo"><img src="images/descwhy02.png" alt=""></div>
                            <div class="why__row">
                                <p>Надежность</p>
                                <p>Имеют лицензию ЦБ</p>
                            </div>
                            <div class="why__row">
                                <p>Капитал</p>
                                <p>Имеют доступ к деньгам</p>
                            </div>
                            <div class="why__row">
                                <p>Ставка</p>
                                <p>Выше банковской</p>
                            </div>
                            <div class="why__row">
                                <p>Экспертиза</p>
                                <p>Проф. игрок рынка</p>
                            </div>
                            <div class="why__row">
                                <p>Срок одобрения</p>
                                <p>30 минут</p>
                            </div>
                            <div class="why__row">
                                <p>Обременения</p>
                                <p>Никаких обременений</p>
                            </div>
                            <div class="why__row">
                                <p>Управления процессом одобрения</p>
                                <p>Полное и на всех этапах</p>
                            </div>
                            <div class="why__row">
                                <p>Ориентация на госзаказ и на клиента</p>
                                <p>Полностью ориентированы на госзаказ и клиента</p>
                            </div>
                        </div>
                    </div>
                    <div class="why__slide-wrap">
                        <div class="why__slide">
                            <div class="why__logo"><img src="images/descwhy03.png" alt=""></div>
                            <div class="why__row">
                                <p>Надежность</p>
                                <p>Имеют лицензию ЦБ</p>
                            </div>
                            <div class="why__row">
                                <p>Капитал</p>
                                <p>Имеют доступ к деньгам</p>
                            </div>
                            <div class="why__row">
                                <p>Ставка</p>
                                <p>Выше банковской</p>
                            </div>
                            <div class="why__row">
                                <p>Экспертиза</p>
                                <p>Проф. игрок рынка</p>
                            </div>
                            <div class="why__row">
                                <p>Срок одобрения</p>
                                <p>30 минут</p>
                            </div>
                            <div class="why__row">
                                <p>Обременения</p>
                                <p>Никаких обременений</p>
                            </div>
                            <div class="why__row">
                                <p>Управления процессом одобрения</p>
                                <p>Полное и на всех этапах</p>
                            </div>
                            <div class="why__row">
                                <p>Ориентация на госзаказ и на клиента</p>
                                <p>Полностью ориентированы на госзаказ и клиента</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>









